{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>poll : ARM User Dashboard</title>
	<meta name="description" content="Want to get votes on a decision ? USE poll : ARM to Get Votes">
	<meta name="author" content="Kashan Ahmad">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static '/css/custom.css' %}">
	<link rel="stylesheet" href="{% static '/css/index.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static '/images/logo.jpg' %}">
</head>

<body class="poppins b-gray">

	<article class="dashboard boxBack-shadow borderad-10 grad flex f-norm p-rel">

		<!--The Left sided Button Container-->
		<section class="left-bar font-bold">

			<!--close button for mobile and tablets-->
			<span class="menu-close p-abs flex">
				<a class="pointer transit-1 dark">
					&#x2190;
				</a>
			</span>

			<!--The Application Title-->
			<span class="app-title upper flex align-center transit-1 pointer">
				<img src="{% static '/images/logo.jpg' %}" width="25px">
				<a disabled="" class="mLeft-10 s-yellow" style="margin-left: 1rem;">
					poll : ARM
				</a>
			</span>


			<!--Div containing Navbar Items-->
			<div class="dashboard-nav flex flex-col justify-center h-100 upper align-start">

				<!--First Navbar Item-->
				<span class="nav-item pointer transit-1 flex align-center">
					<img src="{% static '/images/create.png' %}" width="25px">
					<a href="{% url 'CreateRoom' %}" class="mLeft-10rwd s-yellow">
						Create Poll
					</a>
				</span>

				<!--Second Navbar Item-->
				<span class="nav-item mTop-1rwd pointer transit-1 flex align-center p-rel opacity-6">
					<img src="{% static '/images/created.svg' %}" width="25px">
					<a href="{% url 'created' %}" class="mLeft-10rwd s-yellow">
						Created Polls
					</a>
					<a class="notify-icon flex flex-center"></a>
				</span>
				<!--Second Navbar Item-->
				<span class="nav-item mTop-1rwd pointer transit-1 flex align-center p-rel opacity-6">
					<img src="{% static '/images/history-512.png' %}" width="25px">
					<a href="{% url 'pollrecord' %}" class="mLeft-10rwd s-yellow">
						Poll Records
					</a>
					<a class="notify-icon flex flex-center"></a>
				</span>


				<!--Third Navbar Item-->
				<span id="open-chat-page" class="nav-item mTop-1rwd pointer transit-1 flex align-center opacity-6" title="Check account Info">
					<img src="{% static '/images/info.png' %}" width="22px" style="margin-left: 2px">
					<a href="{% url 'account_info' %}" class="mLeft-10rwd s-yellow">
						Account Information
					</a>
				</span>
				<span id="open-chat-page" class="nav-item mTop-1rwd pointer transit-1 flex align-center opacity-6" title="Access Poll">
					<img src="{% static '/images/access.png' %}" width="22px" style="margin-left: 2px">
					<a id="code-btn" class="mLeft-10rwd s-yellow">
						Access Poll
					</a>
				</span>



				<!--Fourth Navbar Item-->
				<span class="nav-item mTop-1rwd pointer transit-1 flex align-center opacity-6 p-rel">
					<img src="{% static '/images/rights.ico' %}" width="25px" style="margin-left: 2px">
					<a class="mLeft-10rwd s-yellow"></a>
						2020 - poll : ARM
					</a>
				</span>
			</div>


			<!--User Profile Link-->
			{#			<div class="user-profile b-gray yellow img-bg flex flex-fullColumn  borderad-10 transit-1 pointer boxBack-shadow">#}
			{#				<img src="{{ profile.image.url }}" class="profile-dp img-norm b-circle" alt="Upload">#}
			{#				<a class="profile-name borderad-10 b-orange gray upper f-small">{{ profile.user.username }}</a>#}
			{#			</div>#}


		</section>

		<!--The Right Sided Dashboard Container-->
		<section class="right-bar flex">

			<!--The dashboard content on the right-->
			<article class="dashboard-content upper font-bold w-100 h-100 transit-1 flex flex-col align-start padLeft-rwd">
				<a class="dashboard-heading f-big white pointer text-shadow pops">Welcome {{ user.first_name }}, {{ user.last_name }}!</a>

				<div class="dashboard-img b-gray boxBack-shadow borderad-10">
					<span class="d-none bc-dark borderad-10 f-big pops pointer">Welcome {{ user.first_name }}, {{ user.last_name }}!</span>
				</div>




				<div id="code" class="p-abs flex justify-center">
					<div class="grad p-rel">
						<form id="set" name="code-form"><label for="code">
								<h4 class="gray s-yellow" style="text-align: left">Enter the 6-digit code</h4>
							</label>

							<input type="text" name="code" maxlength="6" placeholder="000000">
							<button type="submit" class="upper gray font-bold pointer pops border-dark">submit</button>
						</form>
						<span id="close-parent" class="gray s-yellow pointer pops">&times;</span>
					</div>
				</div>
				<!--code error-->
				<div id="code-error">
					<span class="b-red white s-gray font-bold flex justify-center align-center">

						<span>
							Seems like that was a faulty code
						</span>
						<img src="{% static '/images/icons/sad.ico' %}" alt=":(">

					</span>
				</div>


				<!--Dashboard Applications-->
				<div class="applications w-100 flex p-rel">
					<center>
						<div class="over-auto" id="display">
						</div>
						<span>
							Ongoing Polls
						</span>
					</center>


				</div>
				<!--Applications end here-->



			</article>
		</section>


		<!--The Add Application (PLUS) icon-->
		{#		<span class="add-application p-abs z-5 font-bold bc-lightPeach dark pointer transit-2">&#x2b;</span>#}

		<!--The Logout button-->
		<a href="{% url 'logout' %}"><span class="logout-button p-abs z-5 font-bold bc-lightred pointer transit-2">
				<img src="{% static '/images/logout.ico' %}" width="30px">
			</span></a>

		<!--The open menu button in mobile and tablet devices-->
		<span class="menu-button z-5 p-abs transit-1">
			<img src="{% static '/images/menu.ico' %}" width="30px">;
		</span>

		<!--Notifications-->
		<div id="notification-wrapper">
			<span id="notification-menu" class="poppins p-rel">

				<ul id="notifications-header">
					<li>Poll Information
						<span class="notifications-num">3</span>
					</li>
					<li>&times;</li>
				</ul>
				<ul id="no-notification" class="borderad-10 light f-big flex">
					Oops, nothing new here.<br>"No response is also a response"<br>- Jonathan Caroll
				</ul>

				{#				<ul id="notifications-body">#}
				{##}
				{#					<!--loop starts here-->#}
				{#					{% for notification in notifications.all %}#}
				{#					<li class="notification">#}
				{##}
				{#						<!--content-->#}
				{#						{% if notification.is_seen != True %}#}
				{#						<span>#}
				{#							<span class="notify-subject">{{ notification.details }}</span>#}
				{#						</span>#}
				{##}
				{#						<!--dates-->#}
				{#						<span>#}
				{#							<span>&nbsp;#}
				{#								<span>Responded upon:</span>#}
				{#								<span class="notify-responseDate">{{ notification.date }}</span>#}
				{#							</span>#}
				{#						</span>#}
				{##}
				{#						<span class="notifications-read" title="mark as read?">#}
				{#							<img src="{% static '/images/markread.ico' %}" alt="mark as read?">#}
				{#						</span>#}
				{##}
				{#						<!--unique id-->#}
				{#						<span class="notify-id">{{ notification.id }}</span>#}
				{#						{% endif %}#}
				{#					</li>#}
				{#					{% endfor %}#}
				{#					<!--loop ends here-->#}
				{##}
				{#				</ul>#}

			</span>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static '/js/6-digit.js' %}"></script>
	</article>
	<script type="text/javascript" src="{% static '/js/script.js' %}"></script>
	<script>
    $(document).ready(function () {
        setInterval(function ()
        {
          $.ajax({
              type:'GET',
              url: '{% url 'publicizedPoll' %}',

              success: function (response) {
                  $("#display").empty()

                for (var key  in response.users){

                    var temp = "---------------------<br>"+ response.users[key].title +"<br>"+ response.cate[key].category__catgry +"<br>"+response.users[key].code+"<br>---------------------<br>";
                    $("#display").append(temp)
                }


              },

          });

        },1000);
    });
</script>

</body>

</html>
