
{% load static %}
{% block content %}
<meta http-equiv="refresh" content="3;url=/password_change/" />
<link rel="stylesheet" href="{% static '/css/custom.css' %}">
<div class="form-success">
	<img class="mb-4" src="{% static 'images/tick.png' %}" alt="" width="200" height="200">
	<br><br>
	<label>Your password has been Updated.</label><br>
	<a href="{% url 'Dashboard' %}" class="btn btn-lg btn-primary btn-block">Click here if it did not redirect you after 5 seconds!</a>
</div>

{% endblock %}