{% extends "base.html" %}

{% block content %}
<style type="text/css">
  .form-signin {
    width: 100%;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>

<div class="container">
  <div class="page-inner">
      <!-- .page-title-bar -->
      <header class="page-title-bar">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Basic Information
            </li>
          </ol>
        </nav>
      </header>
      <!-- /.page-title-bar -->
      <!-- .page-section -->
      <div class="page-section">
        <!-- grid row -->
        <div class="row">
          <!-- grid column -->
          <div class="col-lg-4">
            <!-- .card -->
            <div class="card card-fluid">
              <h6 class="card-header"> Your Details </h6>
              <!-- .nav -->
              <nav class="nav nav-tabs flex-column">
                <a href="{% url 'account_info' %}" class="nav-link">Profile</a>
                <a href="{% url 'password_change' %}" class="nav-link">Password</a>
              </nav>
              <!-- /.nav -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /grid column -->
          <!-- grid column -->
          <div class="col-lg-8">
            <!-- .card -->
            <div class="card card-fluid">
              <h6 class="card-header"> Change Password </h6>
              <!-- Messages -->
              <!-- .card-body -->
              <div class="card-body">
                <!-- form -->
                <form method="POST" class="form-signin">{% csrf_token %}
                  <!-- form row --><br>
                  <div class="col-md-12">
                    <label for="id_old_password">Old Password:</label>
                    <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required>
                  </div><br>
                  <div class="col-md-12">                  
                      <label for="id_password1">Password:</label>
                      <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" >
                      <small class="text-muted">Enter atleast a 6 digit password having one Uppercase character, one Lowercase character and one Digit</small>
                  </div><br>
                  <div class="col-md-12">
                      <label for="id_password2">Password Confirmation: </label>
                      <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"> 
                      <small class="text-muted">Enter atleast a 6 digit password having one Uppercase character, one Lowercase character and one Digit</small>
                  </div>
                  <hr>
                  {% for field in form %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
                  <!-- .form-actions -->
                  <div class="form-actions">
                    <!-- enable submit btn when user type their current password -->

                    <button type="submit" class="btn btn-primary">Update Password</button>
                  </div>
                  <!-- /.form-actions -->
                </form>
                <!-- /form -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /grid column -->
        </div>
        <!-- /grid row -->
      </div>
      <!-- /.page-section -->
    </div>
  </div>




{% endblock %}