{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>poll : ARM Signup</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Kashan Ahmad">
	<meta name="description" content=" Signup system is faster than ever!">
	<link rel="stylesheet" href="{% static '/css/custom.css' %}">
	<link rel="stylesheet" href="{% static '/css/index.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static '/images/icon.ico' %}">
	<style>
		body {
			height: 100vh;
			background: url("/static/images/Orange.png") no-repeat center center fixed;
			background-size: cover;
		}

		.check {
			padding: 0 0 6px 6px;
			left: -1px;
			top: 1px;
		}

	</style>
</head>
{% block content %}
<body class="poppins grad">
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            <h2 style="font-family: 'Muli', sans-serif; font-size: 60px; position: relative;height: 200px">Create a new Poll</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary"  style="font-family: 'Muli', sans-serif;">Create Poll</button>
                <a class="btn btn-warning" href="{% url 'Dashboard' %}" role="button" style="font-family: 'Muli', sans-serif;">Back</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
</body>

</html>
