:root {
	--text-color: #fff7e1;
	--back-color: #0c0e23;
	--secd-color: #ffd3d3;
	--tert-color: black;
	--base-font: 'Poppins', sans-serif;
	--br-small: 5px;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

/*Chatbox*/
#chatbox {
	color: var(--text-color, #ffc3c3);
	background-color: var(--back-color, #373737);
	font-family: var(--base-font);
	width: 100%;
	height: 100%;
	font-size: 1rem;
}

#chatbox-header {
	height: 8%;
	color: var(--back-color, #373737);
	background-color: var(--text-color, #ffc3c3);
	padding: 0 10px;
}

#chatbox-header-user img {
	width: 2rem;
	border-radius: 50%;
	cursor: pointer;
}

#chatbox-header-user span {
	padding-left: 5px;
}

#chatbox-theme-btn {
	margin-right: 5px;
}

#chatbox-header-info-menu {
	display: none;
	width: 6rem;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	background-color: var(--text-color, #ffc3c3);
	border: 1px solid var(--back-color, #373737);
	border-radius: var(--br-small);
	z-index: 10;
}

#chatbox-header-info-menu span {
	width: 100%;
	text-align: center;
	cursor: pointer;
	transition: 0.1s;
}

#chatbox-header-info-menu span:hover {
	transform: scale(1.03);
}

#chatbox-body {
	height: 84%;
	box-sizing: border-box;
}

#chatbox-footer {
	height: 8%;
	padding: 0 10px;
	color: var(--back-color, #373737);
	background-color: var(--text-color, #ffc3c3);
}

#chatbox-footer-contacts,
#chatbox-footer-send {
	font-size: 1.5rem;
}

#chatbox-footer-contacts:hover,
#chatbox-footer-send:hover {
	transform: scale(1.05);
}

input[name="message"] {
	background: none;
	border: none;
	width: 75%;
	padding-top: 5px;
	border-bottom: 1px solid var(--back-color);
	color: var(--back-color);
	font-family: var(--base-font);
}

#chatbox-contacts {
	position: absolute;
	width: 80%;
	height: 100%;
	background-color: var(--back-color);
	border-right: 1px solid;
	box-sizing: border-box;
	display: none;
}

#chatbox-contacts-header {
	width: 100%;
	height: 8%;
	background-color: var(--text-color);
	color: var(--back-color);
	box-sizing: border-box;
	padding: 0 10px;
}


#chatbox-contacts-header i {
	font-size: 1.5rem;
}

#chatbox-contacts-header span {
	margin-left: 5px;
}

#chatbox-contacts-footer {
	height: 8%;
	font-size: 1.5rem;
	box-sizing: border-box;
	padding: 0 10px;
}

#chatbox-contacts-footer i:hover {
	transform: scale(1.05);
}

#chatbox-contacts-body {
	width: 100%;
	height: 86%;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 0 10px;
	overflow-y: auto;
}

.chatbox-contact {
	height: 8%;
	padding: 30px 10px;
	box-sizing: border-box;
	border-bottom: 1px solid;
	transition: 0.1s;
	cursor: pointer;
}

.chatbox-contact:first-child {
	margin-top: 10px;
}

.chatbox-contact:hover {
	transform: scale(1.02);
}

.chatbox-contact img {
	width: 2rem;
	border-radius: 50%;
}

.chatbox-contact-name {
	margin-left: 5px;
}

.chatbox-contact-dname {
	font-size: 12px;
	color: var(--secd-color);
}

#no-message-here i {
	font-size: 3rem;
}

#no-message-here i:hover {
	transform: scale(1.05);
}

#chatbox-body {
	display: flex;
	flex-flow: column;
	box-sizing: border-box;
	overflow: auto;
	padding: 10px;
	background:
		linear-gradient(135deg, var(--tert-color) 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, var(--tert-color) 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, var(--tert-color) 25%, transparent 25%),
		linear-gradient(45deg, var(--tert-color) 25%, transparent 25%);
	background-size: 30px 30px;
	background-color: var(--back-color);

}

.chatbox-chat-wrapper {
	font-size: 13px;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.chatbox-chat-message {
	padding: 10px;
	font-weight: 700;
	border-radius: 10px;
	max-width: 60%;
}

.chatbox-chat-time {
	font-size: 12px;
}

.chat-primary {
	background: var(--text-color);
	color: var(--back-color);
}

.chat-secondary {
	background: var(--secd-color);
	color: var(--tert-color);
}

.chat-primary-wrapper {
	flex-flow: column;
	align-items: flex-end;
}

#chatbox-contacts-error {
	display: none;
	box-sizing: border-box;
	padding: 0 2rem;
}

.add-application,
.logout-button {
	display: none;
}

.menu-button {
	left: 0;
	top: 50%;
	border-radius: 0 5px 5px 0;
}

@media (min-width: 501px) {

	#chatbox,
	#chatbox-header,
	#chatbox-footer {
		border-radius: 10px;
	}
}

#chatbox-contacts {
	height: 94.5%;
	border-radius: 10px;
}

#chatbox-contacts-header {
	border-radius: 10px 0 0 10px;
}

@media (min-width:992px) {

	#chatbox-header,
	#chatbox-body,
	#chatbox-footer,
	#chatbox-contacts-header,
	#chatbox-contacts-body,
	#chatbox-contacts-footer {
		padding: 0 20px;
	}

	.right-bar {
		padding-left: 1.5rem;
	}

	#chatbox-contacts {
		width: 40%;
	}

	input[name="message"] {
		width: 90%;
	}

	.add-application,
	.logout-button {
		display: flex;
	}
}
