:root {
	/*--tx-1: #fff7e1;
--tx-2: rgb(200, 200, 200);
--tx-3: #ffb6b6;
--bg-1: #161e27;
--bg-2: black;*/
	--font: 'Poppins', sans-serif;
	--br-10: 10px;
}

html,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
section,
article,
a {
	font-family: var(--font);
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	text-decoration: none;
	/*color: var(--tx-1);*/
}

/*.tx-3 {
	color: var(--tx-3);
}*/

h3,
h4 {
	text-align: center;
}

#homepage {
	width: 100%;
	height: 100vh;
	background: var(--tx-2);
	display: flex;
	justify-content: center;
	align-items: center;
}

#homepage-container {
	width: 90%;
	height: 95%;
	background: var(--bg-1);
	border-radius: var(--br-10);
	box-shadow: 0 0 20px black;
	padding: 2rem;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.d-sm-block {
	display: flex;
}

.d-lg-block {
	display: none;
}

i {
	margin-right: 10px;
}

button {
	position: absolute;
	font-size: 2rem;
	cursor: pointer;
}

#theme {
	left: 0;
	bottom: 0;
	font-size: 32px;
	padding-left: 10px;
}

#rights {
	bottom: 0;
	right: 0;
	font-size: 14px;
	padding: 5px;
	padding-right: 8px;
}

ul h3,
h3 {
	margin-bottom: 1rem;
}

ul {
	width: 100%;
}

header,
footer {
	height: 25%;
}

content {
	height: 50%;
}

li i {
	color: var(--tx-3);
	font-size: 1.1rem;
	cursor: pointer;
}

li {
	transition: 0.2s;
}

ul li:hover {
	transform: scale(1.03);
}

.rdr {
	font-size: 12px;
}

footer a {
	background: var(--tx-3);
	padding: 0.5rem 1.5rem;
	color: var(--bg-1);
	font-weight: 700;
	border-radius: var(--br-10);
	box-shadow: 2px 2px 4px black;
	margin-top: 1rem;
	transition: 0.2s;
}

footer a:hover {
	background: var(--tx-1);
	color: var(--bg-1);
	transform: scale(1.05);
}

header,
content,
footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.d-xl-block {
	display: none;
}

header span {
	width: 100%;
}

@media (min-width: 500px) and (max-width: 991px) {
	ul li {
		padding-left: 15%;
	}

	.rdr {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	#homepage-container {
		width: 95%;
		height: 90%;
	}

	.d-sm-block {
		display: none;
	}

	.d-lg-block {
		display: flex;
	}

	i {
		margin-left: 10px;
	}

	ul li {
		text-align: right;
	}

	ul span {
		width: 50%;
	}

	#lol-check {
		font-weight: 700;
		padding-left: 1rem;
	}

	#lol-check span {
		width: 100%;
		line-height: 1.7rem
	}

	#lol-check span:first-child {
		font-size: 2rem;
	}

	#lol-check span:nth-child(2) {
		font-size: 2.3rem;
	}

	#lol-check span:nth-child(3) {
		font-size: 1.7rem;
	}

	#lol-check span:nth-child(4) {
		font-size: 1.95rem;
	}

	#lol-check span:last-child {
		color: var(--tx-3);
		font-size: 3.5rem;
	}

	#theme {
		padding-left: 0;
	}

	.rdr {
		font-size: 25px;
	}
}

@media (min-width: 1380px) {
	.d-xl-block {
		display: flex;
	}

	header {
		flex-flow: row;
	}

	header span {
		width: 50%
	}

	#title-last {
		border-radius: var(--br-10);
		background: url(../images/main2.jpg) no-repeat center;
		background-size: cover;
		height: 100%;
		align-items: flex-end;
		padding: -1rem 5rem 1px 46px;
		box-shadow: 0 0 8px 1px black;
	}

	.bg-title {
		text-shadow: 1px 1px var(--bg-1),
			-1px -1px black;
	}

	content {
		flex-flow: row;
	}

	#content-first {
		background: url(../images/writeApp-bg.jpg) no-repeat center;
		background-size: cover;
		width: 50%;
		height: 60%;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 2rem 10px 10px 2rem;
		box-shadow: 0 0 8px 1px black;
		border-radius: var(--br-10);
	}

	content ul {
		width: 50%;
	}

	#theme {
		padding-left: 0;
	}

	h1 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.3rem;
	}

	li {
		font-size: 1.2rem;
	}

	#lol-check span:first-child {
		font-size: 2.5rem;
	}

	#lol-check span:nth-child(2) {
		font-size: 2.85rem;
	}

	#lol-check span:nth-child(3) {
		font-size: 2.07rem;
	}

	#lol-check span:nth-child(4) {
		font-size: 2.35rem;
	}

	#lol-check span:last-child {
		color: var(--tx-3);
		font-size: 4.25rem;
	}

	#lol-check span {
		line-height: 2.2rem
	}

	#theme {
		font-size: 3rem;
		padding: 1rem;
	}

	#rights {
		font-size: 1.5rem;
		padding: 2rem;
	}
}
