@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

:root {
	--red: #ec2263;
	--orange: #f59473;
	--white: #ffffff;
	--yellow: #fad396;
	--gray: #363636;
}

html,
body {
	font-size: 1rem;
	margin: 0;
	padding: 0;
}


#code {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 2rem;
	transition: 0.2s;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}



#code div {
	width: 300px;
	height: 200px;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 8px 2px var(--gray);
}

input[name='code'] {
	background: none;
	border: none;
	outline: none;
	width: 100%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	border-bottom: 5px solid var(--gray);
	font-size: 3.5rem;
}

#close-parent {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 30px;
	font-weight: 700;
	padding: 0 12px;
}

#code-error {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

#code-error > span {
	padding: 20px;
	border-radius: 20px;
}

/*===Variable Colors===*/
.red {
	color: var(--red) !important;
}

.b-red {
	background-color: var(--red) !important;
}

.orange {
	color: var(--orange) !important;
}

.b-orange {
	background-color: var(--orange) !important;
}

.white {
	color: var(--white) !important;
}

.b-white {
	background-color: var(--white) !important;
}

.yellow {
	color: var(--yellow) !important;
}

.b-yellow {
	background-color: var(--yellow) !important;
}

.gray {
	color: var(--gray) !important;
}

.b-gray {
	background-color: var(--gray) !important;
}

.grad {
	background-image: -webkit-linear-gradient(150deg, var(--yellow), var(--red)) !important;
	background-image: -moz-linear-gradient(150deg, var(--yellow), var(--red)) !important;
	background-image: -ms-linear-gradient(150deg, var(--yellow), var(--red)) !important;
	background-image: -o-linear-gradient(150deg, var(--yellow), var(--red)) !important;
	background-image: linear-gradient(150deg, var(--yellow), var(--red)) !important;
}

.s-gray {
	text-shadow: 2px 2px 2px var(--gray) !important;
}

.s-yellow {
	text-shadow: 2px 2px 2px var(--yellow) !important;
}

/*===General Purpose Classes===*/
.blur {
	filter: blur(5px);
}

.logo {
	box-shadow: 0 0 8px 1px var(--gray);
	margin-right: 10px;
}

.pops {
	transition: 0.2s !important;
}

.pops:hover {
	transform: scale(1.1);
}

.basic-link {
	text-decoration: none;
}

.d-none {
	display: none;
}


.top-left-1vw {
	top: 1vw;
	left: 1vw;
}

.font-bold {
	font-weight: 700;
}


.pointer {
	cursor: pointer;
}

.z-10 {
	z-index: 10;
}

.z-z-10 {
	z-index: -10;
}

.z-5 {
	z-index: 5;
}

.z-100 {
	z-index: 100;
}


.dim-background {
	background-color: rgb(0, 0, 0, 0.5);
}

button {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background: none;
}

.button {
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 5px;
	border: none;
}


.small-caps {
	font-variant: small-caps
}

.over-auto {
	overflow: auto;
}

/*========Lists========*/
ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

/*========Height &  width*/
.w-100 {
	width: 100%;
}

.w-80 {
	width: 80%;
}

.w-45 {
	width: 45%;
}

.w-50 {
	width: 50%;
}

.h-100 {
	height: 100%;
}

.h-100vh {
	height: 100vh;
}

/*========Font Decorations========*/
.upper {
	text-transform: uppercase;
}

/*========Opacity========*/
.opacity-off {
	opacity: 0;
}

.opacity-on {
	opacity: 1;
}

.opacity-half {
	opacity: 0.5;
}

.opacity-quart {
	opacity: 0.25;
}

.opacity-3rd {
	opacity: 0.75;
}

.opacity-6 {
	opacity: 0.6;
}

/*========Shadow========*/
.box-shadow {
	box-shadow: 2px 2px 4px black;
}

.text-shadow {
	text-shadow: 2px 2px 6px black;
}

.boxBack-shadow {
	box-shadow: 0px 0px 10px 2px black;
}

/*========Transition & Transform*/
.transit-1 {
	transition: 0.1s;
}

.transit-2 {
	transition: 0.2s;
}

.transit-5 {
	transition: 0.5s;
}

/*========Borders========*/

.border-none {
	border: none;
}

.borderad-10 {
	border-radius: 10px;
}

.b-circle {
	border-radius: 50%;
}

.bd-box {
	box-sizing: border-box;
}

/*========Font sizing========*/
.font-15px {
	font-size: 15px;
}

.f-small {
	font-size: 1.2vw;
}

.f-norm {
	font-size: 1.5vw;
}

.f-big {
	font-size: 2vw;
}

/*========Fonts========*/
.poppins {
	font-family: 'Poppins', sans-serif;
}

.kaushan {
	font-family: 'Kaushan Script', cursive;
}

/*========Form Fields=======*/

.input {
	border: none;
	height: 2rem;
	margin-top: 2px;
	border-radius: 7px 3px 7px;
	padding: 0.3rem 0.5rem;
}

.select {
	height: 2.5rem;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

textarea {
	border: none;
	padding: 0;
	margin: 0;
	background: none;
}

/*========Flex Box========*/
.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-col {
	flex-flow: column;
}

.align-start {
	align-items: flex-start;
}

.flex-fullColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

/*========Text Alignment========*/
.txt-center {
	text-align: center;
}

.txt-right {
	text-align: end;
}

.txt-left {
	text-align: left;
}

/*========Colors========*/
.red {
	color: red;
}

.fadeParrot {
	color: #e5ffb7;
}

.tortoise {
	color: #bcffe5;
}

.lightPeach {
	color: #fff7e1;
}

.green-yellow {
	color: greenyellow;
}

.blue-violet {
	color: blueviolet;
}

.dark {
	color: rgb(30, 30, 30);
}

.light {
	color: rgb(200, 200, 200);
}

.lightred {
	color: #ffb6b6;
}

.bc-light {
	background: rgb(200, 200, 200);
}

.bc-dark {
	background: rgb(30, 30, 30);
}

.bc-darkBlue {
	background: #0c0e23;
}

.bc-yellow {
	background-color: yellow;
}

.bc-fadeYellow {
	background: linear-gradient(0deg, #fbfacb, #fcf841);
}

.bc-fadeRed {
	background: linear-gradient(0deg, #ffcccc, #fe7575);
}

.bc-lightPeach {
	background: #fff7e1;
}

.bc-overblue {
	background: #161e27;
}

.bc-lightred {
	background: #ffb6b6;
}

/*========Margins========*/

.m-top-1rem {
	margin-top: 1rem;
}

.mTop-1rwd {
	margin-top: 1rem;
}

.m-left-1rem {
	margin-left: 1rem;
}

.mLeft-2rem {
	margin-left: 2rem;
}

.mLeft-5 {
	margin-left: 5px;
}

.mLeft-10rwd {
	margin-left: 10px;
}

.mRight-5 {
	margin-right: 5px;
}

.mRight-10 {
	margin-right: 10px;
}

/*========Positioning========*/
.p-abs {
	position: absolute;
}

.p-rel {
	position: relative;
}

.p-fix {
	position: fixed;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*========Padding========*/
.pad-0 {
	padding: 0;
}

.padLeft-rwd {
	padding-left: 1.5rem;
}

/*========Cropped Image using Object-Fit========*/
.cropped {
	width: 100%;
	height: 30rem;
	object-fit: cover;
	object-position: 0 61%;
	border-bottom: 1vw solid;
}

/*========Responsive Queries========*/
@media (min-width: 1601px) {
	.f-norm {
		font-size: 1vw;
	}

	.f-small {
		font-size: 0.8vw;
	}

	.f-big {
		font-size: 1.5vw;
	}

	.mTop-1rwd {
		margin-top: 4rem;
	}
}

@media (min-width: 1101px) and (max-width: 1600px) {
	.padLeft-rwd {
		padding-left: 2rem;
	}

	.f-norm {
		font-size: 1.1vw;
	}

	.f-small {
		font-size: 0.9vw;
	}

	.mTop-1rwd {
		margin-top: 3rem;
	}
}

@media (min-width: 993px) and (max-width: 1100px) {
	.mLeft-10rwd {
		margin-left: 20px;
	}

	.f-norm {
		font-size: 1.3vw;
	}

	.mTop-1rwd {
		margin-top: 2rem;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.w-80 {
		width: 100%;
	}

	.font-img-title {
		font-size: 5vw;
	}

	.f-small {
		font-size: 0.9rem;
	}

	.f-norm {
		font-size: 1.2rem;
	}

	.f-big {
		font-size: 1.5rem;
	}
}

@media (min-width: 501px) and (max-width: 767px) {
	.f-small {
		font-size: 0.7rem;
	}

	.f-norm {
		font-size: 1rem;
	}

	.f-big {
		font-size: 1.2rem;
	}
}

@media (max-width: 500px) {
	.w-80 {
		width: 100%;
	}

	.font-img-title {
		font-size: 6vw;
	}

	.f-small {
		font-size: 0.6rem;
	}

	.f-norm {
		font-size: 0.8rem;
	}

	.f-big {
		font-size: 0.7rem;
	}
}


/*========Gradients========*/

.gr-mycolorlight {
	background: #d3d3de;
	background: -webkit-linear-gradient(top, #d3d3de 0%, #fcfcfc 54%, #fcfcfc 100%);
	background: linear-gradient(to bottom, #d3d3de 0%, #fcfcfc 54%, #fcfcfc 100%);
	background-repeat: no-repeat;
}

.gr-mycolor {
	background: rgb(2, 4, 61);
	background: -webkit-linear-gradient(143deg, rgba(2, 4, 61, 1) 0%, rgba(102, 105, 153, 1) 47%);
	background: linear-gradient(143deg, rgba(2, 4, 61, 1) 0%, rgba(102, 105, 153, 1) 47%);
}

.gr-blue {
	background: #303f9f;
	background: -webkit-linear-gradient(40deg, #45cafc, #303f9f);
	background: linear-gradient(40deg, #45cafc, #303f9f) !important
}

.gr-green {
	background: rgb(2, 0, 36);
	background: -webkit-linear-gradient(128deg, rgba(2, 0, 36, 1) 0%, rgba(40, 167, 69, 1) 47%);
	background: linear-gradient(128deg, rgba(2, 0, 36, 1) 0%, rgba(40, 167, 69, 1) 47%);
}

.gr-steelgray {
	background: -webkit-linear-gradient(to right, #1F1C2C, #928DAB);
	background: linear-gradient(270deg, #1F1C2C, #928DAB) !important;
}

.gr-kashmir {
	background: #614385;
	background: -webkit-linear-gradient(to right, #516395, #614385);
	background: linear-gradient(to right, #516395, #614385);
}

.gr-peach {
	background: linear-gradient(40deg, rgba(255, 216, 111, .9), rgba(252, 98, 98, .9)) !important
}

.gr-redsilver {
	background: linear-gradient(60deg, #8f1010, #d5b4b4) !important
}

.gr-aqua {
	background: linear-gradient(40deg, rgba(32, 150, 255, .9), rgba(5, 255, 163, .9)) !important
}

.gr-morpheusden {
	background-image: linear-gradient(to top, #30cfd0 0, #330867 100%)
}

.gr-nearmoon {
	background-image: linear-gradient(to top, #5ee7df 0, #b490ca 100%)
}

.gr-winterneva {
	background-image: linear-gradient(120deg, #a1c4fd 0, #c2e9fb 100%)
}

.gr-darksilver {
	background: linear-gradient(100deg, rgb(50, 50, 50), #565656) !important;
}

.gr-lightsilver {
	background: linear-gradient(0deg, #848484, #efefef) !important;
}
.form-success {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
  }
  .form-success .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
  }
  .form-success .form-control:focus {
	z-index: 2;
  }
  