body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Loading icon*/
@keyframes ldio-6y08f3xqymd {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

content {
	height: 70%;
	width: 100%;
}

center {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

center div {
	width: 100%;
	height: 80%;
	background: #ffea87;
	border: 5px double #d0a96f;
	border-radius: 1em;
	box-sizing: border-box;
	padding: 0.5em;
	color: #7c5010;
	font-size: 1.2em;
}

center > span {
	font-size: 1.5em;
	font-weight: bold;
	color: black;
	margin-top: 1em;
}

.ldio-6y08f3xqymd div {
	left: 117.325px;
	top: 53.105000000000004px;
	position: absolute;
	animation: ldio-6y08f3xqymd linear 1.1904761904761905s infinite;
	width: 12.350000000000001px;
	height: 12.350000000000001px;
	border-radius: 6.175000000000001px / 6.175000000000001px;
	transform-origin: 6.175000000000001px 70.39500000000001px;
}

.ldio-6y08f3xqymd div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1408730158730156s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(2) {
	transform: rotate(15deg);
	animation-delay: -1.0912698412698412s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(3) {
	transform: rotate(30deg);
	animation-delay: -1.0416666666666665s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(4) {
	transform: rotate(45deg);
	animation-delay: -0.9920634920634919s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(5) {
	transform: rotate(60deg);
	animation-delay: -0.9424603174603173s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(6) {
	transform: rotate(75deg);
	animation-delay: -0.8928571428571427s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(7) {
	transform: rotate(90deg);
	animation-delay: -0.8432539682539681s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(8) {
	transform: rotate(105deg);
	animation-delay: -0.7936507936507935s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(9) {
	transform: rotate(120deg);
	animation-delay: -0.744047619047619s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(10) {
	transform: rotate(135deg);
	animation-delay: -0.6944444444444443s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(11) {
	transform: rotate(150deg);
	animation-delay: -0.6448412698412698s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(12) {
	transform: rotate(165deg);
	animation-delay: -0.5952380952380951s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(13) {
	transform: rotate(180deg);
	animation-delay: -0.5456349206349206s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(14) {
	transform: rotate(195deg);
	animation-delay: -0.49603174603174593s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(15) {
	transform: rotate(210deg);
	animation-delay: -0.44642857142857134s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(16) {
	transform: rotate(225deg);
	animation-delay: -0.39682539682539675s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(17) {
	transform: rotate(240deg);
	animation-delay: -0.34722222222222215s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(18) {
	transform: rotate(255deg);
	animation-delay: -0.29761904761904756s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(19) {
	transform: rotate(270deg);
	animation-delay: -0.24801587301587297s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(20) {
	transform: rotate(285deg);
	animation-delay: -0.19841269841269837s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(21) {
	transform: rotate(300deg);
	animation-delay: -0.14880952380952378s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(22) {
	transform: rotate(315deg);
	animation-delay: -0.09920634920634919s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(23) {
	transform: rotate(330deg);
	animation-delay: -0.049603174603174593s;
	background: #1d0e0b;
}

.ldio-6y08f3xqymd div:nth-child(24) {
	transform: rotate(345deg);
	animation-delay: 0s;
	background: #1d0e0b;
}

.loadingio-spinner-spinner-achkxxw0uh {
	width: 247px;
	height: 247px;
	display: inline-block;
	overflow: hidden;
}

.ldio-6y08f3xqymd {
	width: 20%;
	height: 20%;
	position: relative;
	transform: translateZ(0) scale(0.3);
	backface-visibility: hidden;
	transform-origin: 0 0;
	/* see note above */
}

.ldio-6y08f3xqymd div {
	box-sizing: content-box;
}

/* generated by https://loading.io/ */


/*Login Page*/
.login-box {
	width: 20rem;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	background: #061728;
	position: relative;
	box-sizing: border-box;
	padding: 1rem 2rem;
	border-radius: 10px;
	box-shadow: 4px 4px 8px black;
	transition: opacity 750ms ease-in-out;
}

.login-box form {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	box-shadow: 4px 4px 8px black;
	cursor: pointer;
	transition: 0.2s;
}

.avatar:hover {
	transform: scale(1.05);
}

.login-box h1 {
	margin-top: 2rem;
}

.login-box label {
	font-weight: bold;
}

.login-box input {
	font-size: 16px;
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 2px;
	background: none;
	border-bottom: 2px solid #ffd8d8;
}

.login-box label[for="password"] {
	margin-top: 1rem;
}

.login-box button[type="submit"] {
	border: none;
	height: 40px;
	background: #f9ffcd;
	font-size: 18px;
	border-radius: 30px;
	transition: 0.1s;
	cursor: pointer;
	color: white;
	font-family: 'Poppins', sans-serif;
	margin-top: 1rem;
}

.login-box button[type="submit"]:hover {
	transform: scale(1.02);
}

.user-error,
.pass-error {
	display: flex;
	align-items: center;
	font-size: 12px;
	display: none;
}

.user-error img,
.pass-error img {
	width: 20px;
	margin-right: 5px;
}

.login-box a {
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	color: darkgrey;
}

.login-box a:hover {
	color: #ffc107;
	transform: scale(1.02);
}

.login-box .ending {
	margin-top: 0.5rem;
}

.load-gif {
	position: absolute;
	right: 1.5rem;
	top: 1rem;
	width: 4rem;
	height: 4rem;
}

.head-box {
	box-sizing: border-box;
	box-shadow: 0 0 20px 10px rgb(20, 20, 20);
	width: 35rem;
	padding: 0.5rem 2rem 2rem;
	border-radius: 10px 4px 10px 4px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 750ms ease-in-out;
}

@media (max-width:600px) {

	.head-box {
		width: 90%;
	}

	.background {
		width: 100%;
		height: 100%;
	}

	.login-box {
		width: 100%;
		height: 100%;
	}

	.login-box form {
		height: 70%;
	}

	.login-box h1 {
		margin-top: 6rem;
	}

	.avatar {
		top: 10px;
	}

}

/*Signup page*/
.signup-box {
	background: #061728;
	box-sizing: border-box;
	padding: 1rem 2rem 2.5rem;
	height: 90%;
	width: 25%;
	box-shadow: 4px 4px 8px black;
}

.signup-form h2 {
	height: 10%;
}

.signup-box form {
	height: 90%;
	min-height: 30rem;
	justify-content: space-between;
	flex-flow: column;
	flex-wrap: wrap;
	overflow: auto;
}

.signup-box input {
	padding: 6px 6px 6px 0;
	border: none;
	background: none;
	color: var(--gray);
	border-bottom: 2px solid #ffd8d8;
}

.signup-box .signup-error {
	font-size: 13px;
	margin-top: 5px;
	display: none;
}

.signup-box .signup-error img {
	width: 20px;
	margin-right: 5px;
}

.signup-box form button[type="submit"] {
	padding: 5px;
	border-radius: 30px;
	border: none;
	width: 50%;
}

.signup-box form button[type="submit"]:hover {
	transform: scale(1.03);
}

.signup-box > a {
	margin-top: 1rem;
	font-size: 15px;
}

.signup-box > a:hover {
	color: #ffc107;
	transform: scale(1.02);
}

.terms {
	font-size: 15px;
	margin-top: 1rem;
}

.terms label:hover {
	transition: 0.1s;
	transform: scaleY(1.1);
}

.check {
	position: absolute;
	padding: 0 0 4px 5px;
	width: 1rem;
	height: 1rem;
	top: 2px;
	left: -4px;
	border-radius: 3px;
	transition: 0.1s;
}

/*Login and Signup page*/
.box {
	width: 80%;
	height: 75%;
	box-sizing: border-box;
	box-shadow: 0 0 20px 10px rgb(20, 20, 20);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	transition: opacity 750ms ease-in-out;
}

.overx-hidden {
	overflow-x: hidden;
}


.box > div:first-child {
	width: 40%;
	min-width: 400px;
	height: 100%;
}

.box > div:last-child {
	width: 60%;
	height: 100%;
	background: url("/static/images/login.jpg") no-repeat center;
	background-size: cover;
	position: relative;
}

.shadowed-font {
	text-shadow: 1px 1px 6px black;
}

.form {
	width: 70%;
	height: 80%;
	position: relative;
}

.shadow {
	box-shadow: 2px 2px 10px rgb(80, 40, 40);
}

.form form {
	justify-content: space-between;
}



.form form button {
	width: 40%;
	height: 2.5rem;
	border-radius: 7px 3px 7px;
	transition: 0.1s;
}

.form form button:hover {
	background: #fff7e1;
	color: black;
}

.form > div {
	margin-top: 0.8rem;
}

.form > div a:hover {
	transform: scale(1.1);
}

.error {
	display: none;
	order: 1;
	font-size: 2rem;
	font-weight: 700;
	padding: 1rem;
	margin-bottom: 35vh;
	max-width: 70%;
	border-radius: 7px 3px 7px;
	transition: 0.2s;
	cursor: pointer;
}

.row-field {
	display: flex;
	justify-content: space-between;
}

.row-field input {
	width: 42%;
	padding: 0.3rem 0.5rem;
}

@media (max-width: 992px) {
	.box > div:last-child {
		display: none;
	}

	.box > div:first-child {
		width: 100%;
	}
}

/*Verification Modal*/

/*The background of the modal*/
.modal-background {
	background: rgba(0, 0, 0, 0.6);
	display: none;
}

/*The modal content*/
.modal-content {
	width: 35rem;
	height: 20rem;
	box-sizing: border-box;
	padding: 1.5rem 2rem 0.5rem 2rem;
	position: relative;
	border-radius: 10px;
}

.modal-error {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 20rem;
	padding: 0.5rem 2rem;
}

.modal-heading {
	font-size: 1.2rem;
	font-weight: 700;
}

.modal-content form {
	height: 57%;
}

.modal-content input {
	width: 100%;
	height: 6.2rem;
	font-size: 6rem;
	text-align: center;
	background: none;
	border-bottom: 5px solid #ffdede;
}

.modal-content button {
	width: 46%;
	border-radius: 10px 4px 10px 4px;
	background: #fff7e1;
	font-size: 1rem;
	font-weight: 700;
}

.modal-content button:hover {
	background: rgb(60, 60, 60);
	color: #fff7e1;
	transform: scale(1.05);
}

.modal-resend {
	width: 8rem;
	font-weight: 700;
	font-size: 1.1rem;
}

.modal-resend:hover {
	transform: scale(1.1);
}

.back-button {
	width: 3rem;
	height: 2.5rem;
	font-size: 2rem;
	cursor: pointer;
}

.back-button:hover {
	transform: scale(1.2);
}


/*The Forgot Password page*/
.forgot-parent {
	height: 40%;
	width: 25rem;
}

.forgot-box {
	width: 100%;
	height: 17rem;
	padding: 0.5rem 2rem 2rem;
	box-sizing: border-box;
	box-shadow: 0 0 20px 10px rgb(20, 20, 20);
	border-radius: 10px 4px 10px 4px;
}

.lets-find {
	cursor: pointer;
	width: 12rem;
}

.lets-find:hover {
	transform: scale(1.1);
}

.forgot-box form {
	height: 100%;
}

.verify-button {
	height: 2.5rem;
	width: 40%;
	border-radius: 10px 4px 10px 4px;
}

.verify-button:hover {
	background: rgb(40, 40, 40);
	transform: scale(1.1);
}

.reset-inputs input {
	width: 44%;
}

.forgot-error {
	display: none;
	border-radius: 10px 4px 10px 4px;
	font-size: 1.2rem;
	width: 25rem;
	min-height: 3.5rem;
	cursor: pointer;
	box-shadow: 0 0 20px 10px rgb(20, 20, 20);
	font-weight: 700;
}

.forgot-error:hover {
	transform: scale(1.05);
}

.reset-box {
	display: none;
}

/*Dashboard*/
.dashboard {
	width: 95%;
	height: 92%;
	box-sizing: border-box;
	padding: 1.5rem;
	opacity: 0.9;
}

.left-bar {
	width: 25%;
	display: flex;
	flex-flow: column;
}

.right-bar {
	width: 75%;
}

.app-title:hover {
	transform: scale(1.05);
}

.app-bg {
	background: url("/static/images/app-title.jpg") no-repeat center center;
	background-size: cover;
	margin-top: 1.4rem;
	height: 30%;
}

.app-bg:hover {
	transform: scale(1.05);
}

.nav-item:hover {
	transform: scale(1.05);
	opacity: 1;
}

.notify-icon {
	position: absolute;
	left: 0;
	top: -14px;
	padding: 0 15px;
	border-radius: 10px;
	color: white;
}

.img-bg {
	background: url("/static/images/profile-bg.jpg") no-repeat center center;
	background-size: cover;
	height: 30%;
}

.img-bg:hover {
	transform: scale(1.05);
	font-size: 17px;
}

#love-django {
	position: absolute;
	padding: 5px 15px;
	width: 10rem;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	right: 0;
	bottom: 0;
	display: none;
}

.profile-name {
	padding: 0 1rem;
	text-align: center;
	max-width: 10rem;
}

.add-application {
	right: 0;
	top: 0;
	font-size: 1.5rem;
	padding: 5px 10px;
	border-radius: 0 10px;
	box-shadow: 0 0 5px 1px black;
	z-index: 1000;
}

.logout-button {
	right: 0;
	bottom: 0;
	border-radius: 10px 0;
	padding: 10px 1px 3px 4px;
	box-shadow: 0 0 5px 1px black;
	z-index: 1000;
}

.menu-button {
	display: none;
}

.add-application:hover,
.logout-button:hover {
	background: #adffd6;
}

.dashboard-content {
	box-sizing: border-box;
	height: 100%;
}

.dashboard-heading {
	letter-spacing: 2px;
	margin-top: -7px;
}

.dashboard-img {
	background: url("/static/images/main3.jpg") no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 40%;
	margin-top: 18px;
}

.applications {
	height: 60%;
	box-sizing: border-box;
	margin-top: 2rem;
	justify-content: space-between;
	align-items: center;
}

.applications .content {
	width: 30.5%;
	border-radius: 10px;
	background: #0f151b;
	box-sizing: border-box;
	padding: 1rem;
}

.applications .content > span:hover {
	transform: scale(1.05);
}

.application-empty {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	padding: 2rem;
	transform: translate(-50%, -50%);
	background: url("/static/images/app-error.jpg") no-repeat center center;
	background-size: cover;
	display: none;
}

.sent-content,
.received-content {
	flex-flow: column;
	justify-content: space-around;
	overflow: auto;
}

.sent-application {
	margin: 1.5vw 0 0;
	padding: 1vw 0;
}

.img-norm {
	width: 30%;
}

.sent-application > a {
	padding: 0 1rem;
	background: #fff68c;
	color: black;
}

.received-application {
	margin: 1.5vw 0 0;
	padding: 1vw 0;
}

.received-application > a {
	padding: 0 1rem;
	background: #beff7b;
	color: black;
}

.applications .count {
	background: #ff7a7a;
	color: black;
	padding: 0.2vw 0.5vw;
	border-radius: 2px;
}

#status-content {
	justify-content: space-between;
}

#status-content:hover {
	transform: scale(1);
}

.status-btn {
	margin: 1rem 0;
}

.status-btn img,
.status-btn span {
	cursor: pointer;
}

.status-btn span {
	background: #e3fff0;
	color: black;
	padding: 0 10px;
	border-radius: 30px;
}

#chart-wrapper {
	transition: 0.5s;
}

#chart-wrapper > span {
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	font-size: 2rem;
	padding: 0 1rem;
	cursor: pointer;
}

#chart-wrapper > span:hover {
	transform: scale(1.05);
}

#chart-recipients {
	left: 0;
	bottom: 0;
	position: absolute;
	display: flex;
	flex-flow: column;
	padding: 1rem;
}

.box-1 {
	position: relative;
	padding: 5px 15px;
	margin-bottom: 10px;
	border: 2px solid white;
	cursor: pointer;
	transition: 0.2s;
}

.box-1:hover {
	transform: scale(1.05);
}

.box-1 button {
	font-size: 12px;
	color: white;
	font-weight: 700;
}

.box-1:first-child {
	background: #7c0909;
}

.box-1:nth-child(2) {
	background: #da6b3b;
}

.box-1:last-child {
	background: #af3f30;
}

.chart-rec-container {
	position: absolute;
	left: 110%;
	bottom: 100%;
	padding: 5px 15px;
	width: 6rem;
	background: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	border: inherit;
	font-size: 12px;
	display: none;
}

.chart-rec-container span {
	padding-bottom: 5px;
	border-bottom: 1px solid white;
}

/*The individual application Displayer*/
#application-content {
	background: linear-gradient(0deg, #ffed8a, #a892ff);
	box-sizing: border-box;
	box-shadow: 0 0 5px 1px black;
	top: 0;
	right: 0;
	height: 100%;
	padding: 1rem;
	transition: 0.5s;
}

#application-content button {
	font-family: 'Poppins', sans-serif;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 1rem;
	width: 85%;
	cursor: pointer;
}

#application-content button:first-of-type {
	background: #d5ff94;
}

#application-content button:last-of-type {
	background: #94f3ff;
}

#application-content button:hover {
	transform: scale(1.02);
}

/*Sender/Receiver's Header in Application Displayer*/
#left-column {
	height: 100%;
	width: 20%;
}

/*The sender/receiver's name*/
#left-column > a {
	padding: 0.2vw 1vw;
	max-width: 80%;
	text-align: center;
}

/*The individual application's column on the right*/
#right-column {
	height: 100%;
	width: 80%;
	overflow: auto;
	display: flex;
	flex-flow: column;
	background: #3d0a5b;
	padding: 1rem;
	box-sizing: border-box;
	border-radius: 10px;
	text-shadow: 2px 2px 6px black;
	min-width: 18rem;
}

/*The heading of an individual application*/
.content-subject > span:last-child {
	float: right;
	background: red;
	color: black;
	padding: 0 10px;
	border-radius: 5px;
}

.content-name span:last-child span {
	padding: 3px 6px;
	background: #e5e5e5;
	color: black;
	text-shadow: none;
	border-radius: 5px;
}

/*Transform an individual application's page number on mouseover*/
.content-subject > span:last-child:hover {
	transform: scale(1.05);
}

#completion-check {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10000;
	transform: translate(-50%, -50%);
	max-width: 80%;
	padding: 3rem;
	border-radius: 10px;
	font-weight: 700;
	background: rgba(0, 0, 0, 0.9);
	color: red;
	transition: 0.2s;
	display: none;
}

/*The container of signatures on an individual application*/
.content-signature {
	flex-wrap: wrap;
}

/*The signature container*/
.content-signature > span {
	flex-wrap: wrap;
}

/*The signatures on an individual application*/
.content-signature > a {
	background: #d8fffc;
	color: black;
	margin: 0.5vw;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

/*Transform signatures on mousover*/
.content-signature > a:hover {
	transform: scale(1.05);
}

/*The description of an individual application*/
.content-text {
	text-align: left;
	flex-wrap: wrap;
	word-spacing: 3px;
}

#app-status {
	display: none;
	width: 20%;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	background: #ffc434;
	color: black;
	text-shadow: none;
}

/*The close button on an individual application*/
#application-content .close-button {
	width: 21.5%;
	bottom: 0;
	left: 1%;
	font-size: 3.5vw;
}

/*Transform the close button on mouseover*/
#application-content .close-button > a:hover {
	transform: scale(1.1);
}

/*Buttons to accept or reject an application*/
.accept-reject {
	display: none;
	text-shadow: none;
	width: 20%;
	margin-top: 1rem;
}

/*Accept an application button*/
.accept-btn {
	padding: 0.5rem;
	border-radius: 12px 0 0 4px;
	background: #bdff82;
	text-align: center;
}

.accept-btn:hover {
	background: #85ff17;
	transform: scale(1.02);
}

/*Reject an application button*/
.reject-btn {
	padding: 0.5rem;
	border-radius: 0 4px 12px 0;
	background: #ff9898;
	text-align: center;
}

.reject-btn:hover {
	background: #ff4747;
	transform: scale(1.02);
}

/*The user's profile page*/
.user-profile-page {
	width: 100%;
	height: 100%;
	padding-left: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.user-profile-page input {
	padding: 0 0 0;
	background: none;
	border: none;
	color: white;
	border-bottom: 2px solid #ffbcbc;
	font-family: 'Poppins', sans-serif;
}

/*Profile page header*/
.user-profile-img {
	width: 50%;
	height: 25%;
	background: url("/static/images/user-profile.jpg") no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

form[name='images-form'] {
	width: 50%;
	height: 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#sign-field {
	width: 50%;
	height: 100%;
	padding: 0 1.5rem;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
}

#sign-pic {
	width: 100%;
	height: 72%;
	background: url("/static/images/sig.jpg") no-repeat center center;
	background-size: contain;
	box-shadow: 0 0 10px 1px black;
	border-radius: 5px;
}

#sign-pic:hover {
	transform: scale(1.05);
}

#sign-field button {
	width: 100%;
	height: 20%;
	background: #ffb194;
	font-family: 'Poppins', sans-serif;
	padding: 0 10px;
	border-radius: 5px;
	cursor: pointer;
}

#sign-field button:hover {
	transform: scale(1.03);
}

/*Profile page header's text (USERNAME)*/
.user-profile-img > a {
	background: #12183f;
	padding: 1rem;
	border-radius: 10px 0
}

/*The user's profile image enlarged*/
.profile-form-img {
	width: 50%;
	height: 100%;
	padding-left: 1.5rem;
	background: url("/static/images/avatar.png") no-repeat center center;
	background-size: contain;
	box-sizing: border-box;
	border: 2px solid black;
}

/*Enlarges profile image on mouseover*/
.profile-form-img:hover {
	transform: scale(1.05);
}

.profile-form-img img {
	position: absolute;
	bottom: 0;
	right: 2px;
}

/*This class makes the user's profile div, what it is*/
.profile-form-wrapper {
	width: 100%;
	height: 75%;
	padding-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
}

/*user's profile's first input section*/
.profile-form-content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}

.profile-input {
	width: 46%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}

/*Row having 2 rows*/
.profile-input.row-2 {
	flex-flow: row;
	justify-content: space-between;
	align-items: flex-start;
}

/*The subrow*/
.profile-input.row-2 .subrow {
	width: 45%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.profile-error {
	display: none;
}

.profile-error img {
	width: 20px;
	margin-right: 5px;
}

.profile-error a {
	font-weight: 400;
}

.edit-button {
	width: 46%;
	height: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit-button a {
	border: none;
	margin-bottom: 4px;
	padding: 2px 5px;
	border-radius: 5px;
	border-bottom: 2px solid #ffbcbc;
}

.edit-button span:last-child {
	display: none;
}

.edit-button span:first-child:hover {
	transform: scale(1.05);
}

.edit-button span:last-child:hover {
	transform: scale(1.05);
}

#profile-reset-password {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	z-index: 2000;
	background: #1d1d21;
	border: 2px solid #ffbcbc;
}

form[name="reset-pass-form"] {
	padding: 5px 0;
}

.form-input-reset {
	background: none;
	border: none;
	color: white;
	padding: 5px 5px 10px;
	margin-bottom: 5px;
	border-bottom: 2px solid #ffbcbc;
}

.form-button-reset {
	width: 30%;
	border: none;
	padding: 3px 5px;
	border-radius: 5px;
	background: #ffbcbc;
}

form[name="reset-pass-form"] button:hover {
	transform: scale(1.05);
}

#closeResetPassButton {
	top: 0;
	right: 3%;
	font-size: 2rem;
}

#closeResetPassButton:hover {
	transform: scale(1.2);
}

/*The write application page*/
#writer-body {
	width: 75%;
	height: 100%;
	padding-left: 1.5rem;
	box-sizing: border-box;
}

#writer-body header {
	background: url("/static/images/writeApp-bg.jpg") no-repeat center center;
	background-size: cover;
	height: 20%;
}

#writer-body h1 {
	margin: 1rem;
	margin-left: 0;
}

form[name='write-application'] {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 73%;
	position: relative;
}

#form-selects {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	width: 35%;
	height: 100%;
}

.field-row {
	display: flex;
	flex-flow: column;
	width: 80%;
	height: 30%;
	padding: 10px 20px;
	background: #ff9147;
	color: black;
}

.field-row input[name="custom"] {
	display: none;
	width: 95%;
}

.field-row:first-child {
	border-radius: 10px 10px 0 0;
}

.field-row:last-child {
	border-radius: 0 0 10px 10px;
}

.field-row label {
	font-weight: 700;
}

.field-row input,
.field-row select {
	font-family: 'Poppins', sans-serif;
	border: none;
	background: none;
	padding: 5px;
	padding-left: 0;
	border-bottom: 2px solid black;
}

.field-row span {
	font-size: 12px;
}


.field-display {
	display: flex;
	flex-flow: column;
	font-weight: 700;
}

.field-display ul {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	flex-wrap: nowrap;
	padding: 5px;
	background: #ff9147;
	color: black;
	border-radius: 5px;
	min-height: 1.2rem;
}

.field-display li {
	padding: 2px 5px;
	background: white;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	transition: 0.1s;
}

.field-display li::before {
	content: '×';
	margin-right: 3px;
	font-size: 15px;
}

.field-display li:hover {
	transform: scale(1.05);
}

#displaySelects-formInputs {
	width: 70%;
	height: 100%;
	min-width: 25rem;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#display-selects {
	width: 100%;
	height: 50%;
	display: flex;
	flex-flow: column;
	box-sizing: border-box;
	padding-left: 1.5rem;
}

#form-inputs {
	width: 100%;
	height: 50%;
	box-sizing: border-box;
	padding-left: 1.5rem;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#form-inputs .field-row {
	width: 40%;
	height: 36%;
	padding: 10px 21px;
}

#form-inputs .field-row button,
#desc-dialogBox button {
	padding: 5px 10px;
	font-family: 'Poppins', sans-serif;
	border-radius: 5px;
	background: white;
	box-shadow: 2px 2px 6px black;
	font-weight: 700;
	transition: 0.1s;
}

#form-inputs .field-row button:hover,
#desc-dialogBox button:hover {
	transform: scale(1.05);
}

#form-inputs .field-row:nth-child(1) {
	border-radius: 10px 0 0;
}

#form-inputs .field-row:nth-child(2) {
	border-radius: 0 10px 0 0;
}

#form-inputs .field-row:nth-child(3) {
	border-radius: 0 0 0 10px;
}

#form-inputs .field-row:nth-child(4) {
	border-radius: 0 0 10px 0;
}

#desc-dialogBox {
	display: none;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	box-shadow: 0 0 6px black
}

#desc-dialogBox textarea {
	color: white;
}

#desc-dialogBox button {
	width: 6rem;
}

#desc-dialogBox .close-btn {
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 0 12px;
	color: black;
	background: white;
	border-radius: 5px;
}

#desc-dialogBox .close-btn:hover {
	transform: scale(1.05);
}

.error-box {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2000;
	background: black;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	border-radius: 10px;
	max-width: 20rem;
	transition: 0.1s;
	display: none;
}

.error-box:hover {
	background: #231a1a;
}

.bx-shw {
	box-shadow: 0 0 15px 2px black;
}

#chart-wrapper div {
	width: 80%;
	height: 80%;
}

#notification-wrapper {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2000;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	display: none;
}

#notification-menu {
	width: 40rem;
	min-height: 20rem;
	max-height: 60vh;
	color: black;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 30px 1px black;
	background: rgba(255, 255, 255, 0.8);
	overflow: auto;
}

#notifications-header {
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 99%;
	height: 2rem;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	margin-top: 2px;
	border-radius: 8px;
	box-shadow: 0 2px 6px black;
	box-sizing: border-box;
	padding: 0 10px;
	font-size: 0.7rem;
	font-weight: 700;
	text-transform: uppercase;
}

#notifications-header li:last-child {
	font-size: 1.2rem;
	cursor: pointer;
}

.notification {
	margin: auto;
	margin-top: 1rem;
	border-radius: 10px;
	background: #e6e6e6;
	box-shadow: 5px 5px 10px #cacaca,
		-5px -5px 10px #ffffff;
	width: 95%;
	height: 5rem;
	box-sizing: border-box;
	padding: 0 10px;
	padding-right: 2rem;
	overflow: auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	position: relative;
}

#notifications-body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	overflow: auto;
}

.notify-response {
	color: red;
	text-decoration: underline;
}

.notifications-num {
	padding: 0 5px;
	background: red;
	margin-left: 5px;
	border-radius: 2px;
}

.notify-sentDate {
	text-decoration: underline;
}

.notify-responseDate {
	text-decoration: underline;
}

.notifications-read {
	position: absolute;
	right: 5px;
	cursor: pointer;
}

.notifications-read:hover {
	transform: scale(1.05);
}

#no-notification {
	background: url("/static/images/notification-err.png") no-repeat center center;
	background-size: cover;
	width: 95%;
	height: 16rem;
	margin: auto;
	margin-top: 1rem;
	align-items: center;
	padding-left: 1rem;
	box-sizing: border-box;
	display: none;
}

.notify-id {
	display: none;
}

/*media queries*/
@media (min-width: 1380px) {
	.dashboard {
		padding: 2rem;
	}
}

@media (min-width: 993px) and (max-width: 1380px) {
	.signup-box {
		width: 70%;
		padding: 1rem 2rem;
	}

	.signup-box form {
		flex-flow: row;
		flex-wrap: wrap;
		height: 95%;
	}

	.signup-box form > div {
		width: 47%;
	}

	.signup-box form > div:last-child {
		display: flex;
		align-items: center;
	}

	#chart-wrapper div {
		width: 75%;
		height: 75%;
	}
}

@media (max-width: 992px) {

	.signup-box {
		height: 100%;
		width: 100%;
	}

	.dashboard {
		width: 100%;
		height: 100%;
	}

	.left-bar {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #051e39;
		align-items: center;
		z-index: 100;
		display: none;
		position: absolute;
	}

	.right-bar {
		width: 100%;
		height: 100%;
	}

	.dashboard-heading {
		display: none;
	}

	.dashboard-content {
		padding: 0 1.5rem;
	}

	.dashboard-img {
		height: 20%;
		display: flex;
		justify-content: center;
		align-items: flex-end;

	}

	.dashboard-img span {
		display: block;
		padding: 0.2rem 0.5rem;
		margin-top: 1rem;
	}

	.applications {
		height: 70%;
	}

	.add-application {
		font-size: 2rem;
		padding: 5px 16px;
		border-radius: 0 0 0 10px;
	}

	.logout-button {
		padding: 18px 8px 10px 14px;
		border-radius: 10px 0 0 0;
	}

	.menu-button {
		display: block;
		left: 0;
		top: 0;
		padding: 15px 10px 10px;
		background: white;
		border-radius: 0 0 10px;
	}

	.menu-button:hover {
		transform: scale(1.05);
	}

	.applications {
		flex-flow: column;
	}

	.applications .content {
		width: 100%;
		height: 30%;
	}

	.sent-content,
	.received-content {
		flex-flow: row;
		align-content: center;
		height: 100%;
		overflow-x: auto;
	}

	.sent-application,
	received-application {
		min-width: 8rem;
	}

	.img-norm {
		width: 5rem;
	}

	.app-title {
		margin-top: 10%;
	}

	.app-bg {
		margin-top: 1.4rem;
		height: 30%;
		width: 80%;
	}

	.nav-item {
		margin: 2rem;
	}

	.user-profile {
		width: 80%;
		margin-bottom: 10%;
	}

	.menu-close {
		font-size: 3rem;
		height: -10px;
		top: 0;
		left: 0;
		padding: 0 8px 5px;
		background-color: white;
		border-radius: 0 0 5px;
	}

	.content-subject > span:last-child {
		margin-right: 5%;
	}

	#application-content .close-button {
		font-size: 3rem;
	}

	#writer-body {
		width: 100%;
		padding-right: 1.5rem;
	}

	#writer-body header {
		display: none;
	}

	#writer-body h1 {
		display: none;
	}

	form[name='write-application'] {
		height: 100%;
		width: 100%;
		flex-flow: column;
		justify-content: center;
	}

	#form-selects {
		margin-top: 1.5rem;
		height: 40%;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.field-row {
		width: 90%;
	}

	#displaySelects-formInputs {
		width: 100%;
		height: 60%;
		min-width: 0;
	}

	#display-selects {
		padding: 0;
		margin-top: 1.5rem;
		width: 100%;
		height: 50%;
	}

	#form-inputs {
		padding: 0;
		width: 100%;
		height: 50%;
		margin-bottom: 1.5rem;
	}

	#form-inputs .field-row:nth-child(1),
	#form-inputs .field-row:nth-child(2) {
		height: 60%;
		width: 35%;
		border-radius: 10px 10px 0 0;
	}

	#form-inputs .field-row:nth-child(3),
	#form-inputs .field-row:nth-child(4) {
		padding: 5px 21px;
		height: 30%;
		width: 35%;
		border-radius: 0 0 10px 10px;
	}

	#chart-wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	.notification {
		font-size: 1rem;
	}
}

@media (max-width: 500px) {

	.signup-box {
		font-size: 15px;
	}

	.dashboard {
		padding: 0;
	}

	.img-norm {
		width: 3rem;
	}

	.menu-close {
		font-size: 1.5rem;
	}

	.add-application {
		font-size: 1.5rem;
		padding: 2px 12px;
	}

	.logout-button {
		padding: 8px 4px 2px 8px;
	}

	.menu-button {
		padding: 7px 4px 1px 4px;
	}

	#application-content {
		flex-flow: column;
	}

	#left-column {
		height: 20%;
		width: 80%;
	}

	.content-subject > span:last-child {
		margin-right: 0;
	}

	#right-column {
		height: 100%;
		margin-bottom: 2rem;
	}

	#application-content .close-button {
		font-size: 2rem;
	}

	.user-profile-page {
		padding-left: 0;
	}

	.user-profile-img {
		display: none;
	}

	.profile-form-img {
		width: 100%;
	}

	#writer-body header {
		margin-top: 1.5rem;
	}

	#form-selects {
		margin-top: 2rem;
	}

	#form-inputs {
		padding: 0;
		width: 100%;
		height: 50%;
		flex-flow: row;
		flex-wrap: wrap;
	}

	#form-inputs .field-row {
		width: 35%;
		height: 35%;
		padding: 10px 21px;

	}

	#desc-dialogBox {
		height: 60%;
	}

	.notification {
		font-size: 14px;
	}

	#notification-menu {
		height: 100%;
	}

	#no-notification {
		height: 85%;
		font-size: 1rem;
	}

	form[name='profile-form'] {
		flex-flow: column;
	}

	.profile-input {
		width: 86%;
		padding-bottom: 1.5rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		background: #161e27;
	}

	.edit-button {
		width: 100%;
		padding-left: 1.5rem;
		padding-bottom: 1.5rem;
		background: #161e27;
	}

	form[name='images-form'] {
		width: 100%;
	}

	#sign-field {
		width: 50%;
	}

	.profile-form-img {
		width: 45%;
		margin-right: 1rem;
	}
}
