
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>E-App User Profile</title>
	<meta name="description" content="The easy-to-use User Profile where you can choose a custom picture, signature, and cool usernames!">
	<link rel="stylesheet" href="css/custom.css ">
	<link rel="stylesheet" href="css/index.css">
	<link rel="icon" type="image/x-icon" href="{% static '/images/icon.ico' %}">
</head>

<body class="bc-light poppins dark">

	<article class="dashboard boxBack-shadow borderad-10 bc-overblue lightPeach flex  f-norm p-rel">

		<!--The Left sided Button Container-->
		<section class="left-bar font-bold">

			<!--close button for mobile and tablets-->
			<span class="menu-close p-abs flex">
				<a class="pointer transit-1 dark">
					&#x2190;
				</a>
			</span>

			<!--The Application Title-->
			<span class="app-title upper flex align-center transit-1 pointer">
				<img src="{% static '/images/title.ico' %}" width="25px">
				<a class="mLeft-10 text-shadow f-" style="margin-left: 1rem;">
					E-application system
				</a>
			</span>


			<!--App title background image-->
			<div class="app-bg transit-1 m-top-1rem boxBack-shadow borderad-10"></div>


			<!--Div containing Navbar Items-->
			<div class="dashboard-nav flex flex-col justify-center h-100 upper align-start">

				<!--First Navbar Item-->
				<span class="nav-item pointer transit-1 flex align-center opacity-6">
					<img src="{% static '/images/dashboard.ico' %}" width="25px">
					<a class="mLeft-10rwd text-shadow">
						Dashboard
					</a>
				</span>

				<!--Second Navbar Item-->
				<span class="nav-item mTop-1rwd pointer transit-1 flex align-center p-rel opacity-6">
					<img src="{% static '/images/notify.ico' %}" width="25px">
					<a class="mLeft-10rwd text-shadow">
						Notifications
					</a>
					<a class="notify-icon flex flex-center"></a>
				</span>

				<!--third Navbar Item-->
				<span id="open-chat-page" class="nav-item mTop-1rwd pointer transit-1 flex align-center opacity-6" title="Open chat page">
					<img src="{% static '/images/chat.ico' %}" width="22px" style="margin-left: 2px">
					<a class="mLeft-10rwd text-shadow">
						Chat
					</a>
				</span>

				<!--Fourth Navbar Item-->
				<span class="nav-item mTop-1rwd pointer transit-1 flex align-center opacity-6 p-rel">
					<img src="{% static '/images/rights.ico' %}" width="25px" style="margin-left: 2px">
					<a class="mLeft-10rwd text-shadow">
						2020 - Runtime Terror
					</a>
					<span id="love-django">
						Powered with <img src="{% static '/images/love.ico' %}" alt="love" width="22px"> by django
					</span>
				</span>


			</div>


			<!--User Profile Link-->
			<div class="user-profile img-bg flex flex-fullColumn  borderad-10 transit-1 pointer boxBack-shadow">
				<img src="{{ user_profile.image.url }}" class="profile-dp img-norm b-circle">
				<a class="profile-name borderad-10 dark bc-lightPeach upper f-small">{{ user_profile.user.username }}</a>
			</div>
		</section>


		<!--Right bar containing user's profile-->
		<section class="right-bar flex">

			<!--All the content of user's profile lies within this wrapper-->
			<article class="user-profile-page">

				<!--This div contains the top-most image and USERNAME on it-->
				<div class="user-profile-img borderad-10 boxBack-shadow">
					<a class="kaushan f-big">{{ user_profile.user.first_name }}</a>
					<!--The topmost div having img and USERNAME ends here-->
				</div>

				<form method="post" action="/Pic-Change/" name="images-form" enctype="multipart/form-data">
					{% csrf_token %}
					<span id="sign-field">

						<span id="sign-pic" class="transit-1"></span>
						<button type="submit" class="transit-1">Upload</button>
						<input type="file" accept="image/*" style="display: none" name="sign-pic-field">

					</span>

					<!--Contains the user's profile image-->
					<div class="profile-form-img borderad-10 boxBack-shadow p-rel transit-2" enctype="multipart/form-data">
						<img src="{% static '/images/update-pic.ico' %}" width="30px">
						<input type="file" accept="image/*" id="profile-pic" class="d-none" name="profile-pic">
					</div>
				</form>
				<!--This div contains all the user's profile in input fields-->
				<div class="profile-form-wrapper">

					<!--User's profile's form-->
					<form name="profile-form" class="profile-form-content font-bold text-shadow">

						<!--First Name-->
						<div class="profile-input">
							<label for="fname" class="">First Name</label>
							<input type="text" name="fname" readonly=true value="{{ user_profile.user.first_name }}" class="editable" required>
							<error class="profile-error flex align-center">
								<img src="{% static '/images/error.ico' %}">
								<a>Error! Name must contain only letters!</a>
							</error>
						</div>

						<!--Last Name-->
						<div class="profile-input">
							<label for="lname">Last Name</label>
							<input type="text" name="lname" readonly=true value="{{ user_profile.user.last_name }}" class="editable" required>
							<error class="profile-error flex align-center">
								<img src="{% static '/images/error.ico' %}">
								<a>Error! Name must contain only letters!</a>
							</error>
						</div>

						<!--Username-->
						<div class="profile-input">
							<label for="username">Username</label>
							<input type="text" name="username" readonly=true value="{{ user_profile.user.username }}" class="editable" required>
							<error class="profile-error flex align-center">
								<img src="{% static '/images/error.ico' %}">
								<a>Error! Please select a unique username</a>
							</error>
						</div>

						<!--username-->
						<div class="profile-input">
							<label for="cnic">CNIC</label>
							<input type="text" name="cnic" readonly=true value="{{ user_profile.CNIC }}" class="editable" required>
							<error class="profile-error flex align-center">
								<img src="{% static '/images/error.ico' %}">
								<a>Error! Invalid CNIC number</a>
							</error>
						</div>

						<!--Designation-->
						<div class="profile-input">
							<label for="designation">Designation</label>
							<input type="text" name="designation" readonly=true value="{{ user_profile.designation.designation_name }}" id="designation-field">
						</div>

						<!--Employee ID-->
						<div class="profile-input">
							<label for="id">Employee ID</label>
							<input type="text" name="id" readonly=true value="{{ user_profile.designation.employee_id }}" id="id-field">
						</div>

						<div class="profile-input row-2">

							<!--Scale-->
							<div class="subrow">
								<label for="scale">Scale</label>
								<input type="text" name="scale" readonly=true value="{{ user_profile.grade }}" id="scale-field">
							</div>
							<!--experience-->
							<div class="subrow">
								<label for="experience">Years of Expertise</label>
								<input type="number" name="experience" readonly=true value="{{ user_profile.designation.exp_years }}" class="editable" id="experience-field">
							</div>

						</div>

						<!--email-->
						<div class="profile-input">
							<label for="email">E-mail</label>
							<input type="email" name="email" readonly=true value="{{ user_profile.user.email }}" required class="editable">
							<error class="profile-error flex align-center">
								<img src="{% static '/images/error.ico' %}">
								<a>Error! Invalid Email Address</a>
							</error>
						</div>

						<!--phone-->
						<div class="profile-input">
							<label for="phone">Contact Number</label>
							<input type="text" name="phone" readonly=true value="{{ user_profile.phone }}" class="editable">
						</div>

						<div class="edit-button">
							<span class="flex align-center transit-1">
								<img src="{% static '/images/edit.ico' %}" width="20px">
								<a class="upper pointer text-shadow">edit</a>
							</span>

							<span class="flex align-center transit-1">
								<img src="{% static '/images/reset-pass.ico' %}" width="20px">
								<a class="upper pointer text-shadow">Change Password</a>
							</span>
						</div>

					</form>

				</div>

			</article>

		</section>


		<!--The Add Application (PLUS) icon-->
		<span class="add-application p-abs z-5 font-bold bc-lightPeach dark pointer transit-2">&#x2b;</span>

		<!--The Logout button-->
		<span class="logout-button p-abs z-5 font-bold bc-lightred pointer transit-2">
			<img src="{% static '/images/logout.ico' %}" width="30px">
		</span>

		<!--The open menu button in mobile and tablet devices-->
		<span class="menu-button z-5 p-abs transit-1">
			<img src="{% static '/images/menu.ico' %}" width="30px">;
		</span>

		<!--The reset password div-->
		<span id="profile-reset-password" class="flex flex-col justify-center boxBack-shadow borderad-10">

			<!--Asks for password confirmation-->
			<span id="check-password">
				<a class="font-bold text-shadow">
					Wanna reset it, are you sure?<br>What's the old one just in case...
				</a>

				<form name="reset-pass-form" class="flex flex-col">
					<input type="password" required placeholder="old password" name="reset-pass" class="form-input-reset poppins">
					<error id="failToValidate" class="flex align-center;" style="display: none;">
						<img src="{% static '/images/error.ico' %}" width="25px">
						<a style="margin-left: 3px">Error! Invalid Password</a>
					</error>
					<button type="submit" class="form-button-reset poppins boxBack-shadow transit-1">Verify</button>
				</form>

			</span>

			<!--Asks for New Password-->
			<span id="new-password" style="display: none">

				<form name="new-password-form">
					<div class="flex flex-col">


						<label class="font-bold">Write a good one</label>
						<input type="password" required placeholder="new password" class="form-input-reset poppins" name="form-input-new" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
					</div>

					<div class="flex flex-col m-top-1rem">
						<label class="font-bold">Confirm the good one </label>
						<input type="password" required placeholder="confirm password" class="form-input-reset poppins" name="form-input-confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
					</div>

					<span id="fail-password" class="flex align-center" style="margin: 5px; display: none">
						<img src="{% static '/images/error.ico' %}" width="22px">
						<a style="margin-left: 3px">Error! Passwords must match!</a>
					</span>

					<span id="success-password" class="flex align-center" style="display: none; margin: 5px">
						<img src="{% static '/images/success-pass.ico' %}" width="22px">
						<a style="margin-left: 3px">Password changed successfully</a>
					</span>

					<button type="submit" class="form-button-reset poppins boxBack-shadow">Confirm</button>

				</form>



			</span>

			<span class="p-abs pointer transit-1" id="closeResetPassButton">
				&times;
			</span>

		</span>

		<!--Notifications-->
		<div id="notification-wrapper">
			<span id="notification-menu" class="poppins p-rel">

				<ul id="notifications-header">
					<li>Notifications
						<span class="notifications-num">3</span>
					</li>
					<li>&times;</li>
				</ul>

				<ul id="no-notification" class="borderad-10 light f-big flex">
					Oops, nothing new here.<br>"No response is also a response"<br>- Jonathan Caroll
				</ul>

				<ul id="notifications-body">

					<!--loop starts here-->
					{% for notification in notifications.all %}
					<li class="notification">

						<!--content-->
						{% if notification.is_seen != True %}
						<span>
							<span class="notify-subject">{{ notification.details }}</span>
						</span>

						<!--dates-->
						<span>
							<span>&nbsp;
								<span>Responded upon:</span>
								<span class="notify-responseDate">{{ notification.date }}</span>
							</span>
						</span>

						<span class="notifications-read" title="mark as read?">
							<img src="{% static '/images/markread.ico' %}" alt="mark as read?">
						</span>

						<!--unique id-->
						<span class="notify-id">{{ notification.id }}</span>
						{% endif %}
					</li>
					{% endfor %}
					<!--loop ends here-->

				</ul>

			</span>
		</div>

	</article>

	<script src="{% static 'js/script.js' %}"></script>
	<script>
		window.addEventListener('load', function() {
			//Shorthand Query Selectors
			var $ = document.querySelector.bind(document);
			var $$ = document.querySelectorAll.bind(document);

			//remove previously uploaded images
			$('#profile-pic').value = '';
			$('form[name=profile-form]').reset();

			//ask for new image
			$('.profile-form-img').onclick = function() {
				$('#profile-pic').click();
			};

			$('#sign-pic').onclick = function() {
				$('input[name=sign-pic-field]').click();
			};

			$('#closeResetPassButton').onclick = function() {
				hide($('#profile-reset-password'));
			};

			//Hide some fields for a student
			if ('student' == $('#designation-field').value.toLowerCase()) {
				hide($('#scale-field').parentElement.parentElement);
				$('#id-field').parentElement.children[0].innerHTML = 'Student ID';
			}

			//editable fields
			var editables = $$('.editable');
			var editables_length = editables.length;

			//When edit button is clicked
			$('.edit-button').children[0].onclick = function() {
				for (let i = 0; i < editables_length; i++) {
					//Make input fields editable
					editables[i].removeAttribute('readonly');
				}
				//focus on the first field just in case
				editables[0].focus();
				this.children[1].innerHTML = 'save';
				show($('.edit-button').children[1]);

				//Change password functionality
				$('.edit-button').children[1].onclick = function() {
					show($('#profile-reset-password'));

					$('form[name=reset-pass-form]').onsubmit = function(e) {
						e.preventDefault();

						//hide previous errors
						hide($('#failToValidate'));

						//url of target file
						let url = 'http://127.0.0.1:8000/User-Password-Change/';

						var data = {
							password: $('input[name=reset-pass]').value
						}

						let http = new XMLHttpRequest();
						http.onreadystatechange = function() {
							if (this.readyState == 4 && this.status == 200) {
								let output = JSON.parse(this.responseText);
								if (output.password == false) {
									//error
									show($('#failToValidate'));
								} else {
									//good to go
									hide($('#check-password'));
									show($('#new-password'));
								}
							}
						}
						http.open('POST', url, true);
						http.setRequestHeader('Content-Type', 'Application/json');
						http.send(JSON.stringify(data));
					}
				}

				//When new password is given
				$('form[name=new-password-form]').onsubmit = function(e) {
					e.preventDefault();

					//hide previous errors
					hide($('#fail-password'));
					hide($('#check-password'));

					//match the two passwords
					let pass = $('input[name=form-input-new]').value;
					let conf_pass = $('input[name=form-input-confirm]').value;

					if (pass != conf_pass) {
						show($('#fail-password'));
					} else {

						//data object to send
						let data = {
							new_password: pass
						}

						//url of target file
						let url = 'http://127.0.0.1:8000/User-Password-Change-Done/';

						let http = new XMLHttpRequest();
						http.onreadystatechange = function() {
							if (this.readyState == 4 && this.status == 200) {
								var output = JSON.parse(this.responseText);
								if (output.change_password == true) {
									show($('#success-password'));
									setTimeout(hide, 3000, $('#profile-reset-password'));
									location.href = '/Logout';
								}
							}
						}
						http.open('POST', url, true);
						http.setRequestHeader('Content-Type', 'Application/json');
						http.send(JSON.stringify(data));
					}

				}

				//when save button is clicked
				this.onclick = function() {
					//errors
					var errors = $$('.profile-error');
					count = errors.length;

					//hide previous errors
					for (let i = 0; i < count; i++) {
						hide(errors[i]);
					}

					//Data dictionary to send
					var data = {
						fname: editables[0].value,
						lname: editables[1].value,
						username: editables[2].value,
						cnic: editables[3].value,
						expertise: editables[4].value,
						email: editables[5].value,
						contact: editables[6].value,
					}

					if (validate(data.fname)) {
						show(errors[0]);
					} else if (validate(data.lname)) {
						show(errors[1]);
					} else {
						//Ajax call to be executed

						//url of target file
						var url = 'http://127.0.0.1:8000/User-Profile/';

						//ajax call
						var http = new XMLHttpRequest();
						http.onreadystatechange = function() {
							if (this.readyState == 4 && this.status == 200) {
								var output = JSON.parse(this.responseText);
								if (output.username == '') {
									show(errors[2]);
								} else if (output.cnic == '') {
									show(errors[3]);
								} else if (output.email == '') {
									show(errors[4]);
								} else {
									$('.edit-button').children[0].children[1].innerHTML = 'edit';
									for (let i = 0; i < editables_length; i++) {
										//Make input fields editable
										editables[i].setAttribute('readonly', true);
									}
									editables[0].value = output.fname;
									editables[1].value = output.lname;
									editables[2].value = output.username;
									editables[3].value = output.cnic;
									editables[4].value = output.expertise;
									editables[5].value = output.email;
									editables[6].value = output.contact;
									$('.profile-form-img').style.backgroundImage = `url(${output.image})`;
									//Hide edit password button
									hide($('.edit-button').children[1]);
									$('.edit-button').children[0].children[1].innerHTML = 'edit';
									location.href = '/User-Profile';
								}
							}
						}
						http.open('POST', url, true);
						http.setRequestHeader('Content-Type', 'false');
						http.send(JSON.stringify(data));
					}
				}
			}

			function validate(str) {
				if (/^[a-zA-Z]+$/.test(str))
					return false
				else
					return true;
			}

			function hide(elm) {
				elm.style.display = 'none';
			}

			function show(elm) {
				elm.style.display = 'flex';
			}
		});

	</script>
</body>

</html>
