
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=B612:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
  <title>Table</title>
  <style media="screen">
    body {
      height: 100vh;
      background: url("{% static 'images/Orange.png' %}") no-repeat center center fixed;
      background-size: cover;
    }
  </style>
    <style>
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>

<body>

  <br><br>
 </div>
    <section class="text-center">
      <div class="container">
          <a href="{% url 'pollrecord' %}" <button type="button" class="btn btn-primary mt-5 mb-5" style="width:200px;">Back</button></a>
        </p>
      </div>
  <form method="POST">{% csrf_token %}
  <div class="container">
    <div class="row">
        <div class="col">
          <h1 class="text-dark" style="font-family: 'Muli', sans-serif;">{{room.title}}</h1>
            <button class="btn btn-success mb-1 mr-1" style="float: right;" data-toggle="modal" type="submit" data-target="#comparePoll">Compare Selected</button>
          <table class="table table-bordered table-hover">
            <thead class="bg-warning">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Compare Results</th>
                <th scope="col" style="font-family: 'Titillium Web', sans-serif; font-size: 20px">Completed Date</th>
                  <th class="text-right" scope="col" style="font-family: 'Titillium Web', sans-serif; font-size: 20px">Actions</th>


              </tr>
            </thead>
            <tbody>
            {% for c in completed %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><input value="{{c.id}}" type="checkbox" id="to_compare" name="to_compare"></td>
                <td style="font-family: 'B612', sans-serif;">{{ c.completed_date }}</td>
              <td class="text-right">
                  <a href="{% url 'CompletedRecord' c.id %}" <button type="button" class="btn btn-primary badge-pill">View Record</button></a>
{#               <a href="{% url 'export_excel_record' c.id %}" <button type="button" class="btn btn-primary badge-pill">View Data</button></a>#}
              </tr>
                {% endfor %}
{#              <tr>#}
{#                <th scope="row">2</th>#}
{#                <td>Larry</td>#}
{#              </tr>#}
            </tbody>
          </table>
    </div>
  </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
