{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}

<body>
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
        <div class="page-inner">
            <!-- .page-title-bar -->
            <header class="page-title-bar">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active">
                      <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Basic Information
                  </li>
                </ol>
              </nav>
            </header>
            <!-- /.page-title-bar -->
            <!-- .page-section -->
            <div class="page-section">
              <!-- grid row -->
              <div class="row">
                <!-- grid column -->
                <div class="col-lg-4">
                  <!-- .card -->
                  <div class="card card-fluid">
                    <h6 class="card-header"> Your Details </h6>
                    <!-- .nav -->
                    <nav class="nav nav-tabs flex-column">
                      <a href="{% url 'account_info' %}" class="nav-link">Profile</a>
                      <a href="{% url 'password_change' %}" class="nav-link">Password</a>
                    </nav>
                    <!-- /.nav -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /grid column -->
                <!-- grid column -->
                <div class="col-lg-8">
                  <!-- .card -->
                  <div class="card card-fluid">
                    <h6 class="card-header"> Account </h6>
                    <!-- Messages -->
                    {% if messages %}
                    <ul class="messages" style="padding-bottom: 0px;padding-left: 0px;">
                        <div class="col-md-12">
                        {% for message in messages %}
                        <div id="register-msg" style="color:rgb(255, 241, 117)">
                            <li {% if message.tags %} class="alert alert-{{ message.tags }}" style=list-style:none {% endif %}>{{ message }}</li>
                        </div>
                        {% endfor %}
                      </div>
                    </ul>
                    {% endif %}
                    <!-- .card-body -->
                    <div class="card-body">
                      <!-- form -->
                      <form method="POST" action="">{% csrf_token %}
                        <!-- form row -->
                        <div class="col-md-12">
                            <label for="input04">Username</label>
                            <input type="text" class="form-control" id="input04" value="{{ user.username }}" readonly> 
                            <small class="text-muted">Your username is for logging in and cannot be changed.</small>
                        </div><br>
                          <!-- /form column -->
                          <!-- form column -->
                          <div class="col-md-12">
                            <label for="input02">First Name</label>
                            <input type="text" name="first_name" class="form-control" id="input02" value="{{ user.first_name }}"> 
                          <!-- /form column -->
                        </div><br>
                        <!-- /form row -->
                          <!-- form column -->
                          <div class="col-md-12">
                            <label for="input02">Last Name</label>
                            <input type="text" name="last_name" class="form-control" id="input02" value="{{ user.last_name }}"> 
                          <!-- /form column -->
                        </div><br>
                        <!-- /form row -->
                        <!-- .form-group -->
                        <div class="col-md-12">
                          <label for="input03">Email</label>
                          <input type="email" name="email" class="form-control" id="input03" value="{{ user.email }}" required=""> </div>
                          <br>
                        <div class="col-md-12">
                          <label for="input03" style="color: blue;">Last Login: {{ user.last_login }}</label></div>
                        <!-- /.form-group -->
                        <!-- /.form-group -->
                        <!-- .form-group -->
                        <!-- /.form-group -->
                        <hr>
                        <!-- /.form-actions -->
                      </form>
                      <!-- /form -->
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /grid column -->
              </div>
              <!-- /grid row -->
            </div>
            <!-- /.page-section -->
          </div>
        </div>
</body>
{% endblock %}
</html>