{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            <h2 style="font-family: 'Muli', sans-serif; font-size: 60px; position: relative;height: 130px">Add Question</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <select name="question" class="form-control" id="id_question" onchange="changeQuestion()">
                <option value="" selected="" >Select from Pass Questions</option>
                {% for question in pass_questions  %}
                <option value="{{ question.id }}">{{ question.text }}</option>
                {% endfor %}
              </select>
              <br><br>
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}

                </div>

                {% endfor %}

                <br><br>
                <button style="font-family: 'Muli', sans-serif;" type="submit" class="btn btn-primary">Add Question</button>
                <a style="font-family: 'Muli', sans-serif;" class="btn btn-warning" href="/accounts/List-Polls/{{ poll.id }}" role="button">Back</a>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
            function changeQuestion(){
      var question = $("#id_question").val();
      $.ajax({
          url: '{% url "getQuestion" %}',
          dataType: 'json',
          type: "GET",
          data: { 'question': question },
          success: function (data) {
              if (data.status == 'success') {
                var a = JSON.parse(data.choice);
                $("#id_text").val(a[0].poll__text);                
                $("#id_choice1").val(a[0].choice_text);
                $("#id_choice2").val(a[1].choice_text);
                if (a[2]){$("#id_choice3").val(a[2].choice_text);}
                else{$("#id_choice3").val(''); }
                if (a[3]){$("#id_choice4").val(a[3].choice_text);}
                else{$("#id_choice4").val(''); }
              }
          },
      }); 
    }
</script>
{% endblock %}
{#    <script type="text/javascript">#}
{#    function limit_input() {#}
{#        var field = document.getElementById("number_field");#}
{#        var max_length = 30;#}
{#        if (field.value.length > max_length) {#}
{#            field.value = field.value.slice(0, max_length);#}
{#        }#}
{#    }#}

{#</script>#}
{#{% endblock %}#}