{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{% static '/css1/custom.css' %}">
	<link rel="stylesheet" href="{% static '/css1/index.css' %}">
      <link href="https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=B612:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
 <style>
		body {
			height: 100vh;
			background: url("/static/images/Orange.png") no-repeat center center fixed;
			background-size: cover;
		}

		.check {
			padding: 0 0 6px 6px;
			left: -1px;
			top: 1px;
		}

	</style>
    <title>PollARM {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- NavBar -->
    {% include '_navbar.html' %}
    <div class="container">
      <div class="row">
{#        <div class="col-md-6 m-auto">#}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
