
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=B612:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
  <title>Table</title>
  <style media="screen">
    body {
      height: 100vh;
      background: url("{% static 'images/Orange.png' %}") no-repeat center center fixed;
      background-size: cover;
    }
  </style>
    <style>
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>

<body>

  <br><br>
 </div>
    <section class="text-center">
      <div class="container">
          <a href="{% url 'Dashboard' %}" <button type="button" class="btn btn-primary mt-5 mb-5" style="width:200px;">Back To Dashboard</button></a>
        </p>
      </div>

  <div class="container" style="max-width: 1500px !important;">
    <div class="row">
        <h1 class="text-dark" style="font-family: 'Muli', sans-serif;" >Created Polls</h1>
       <form class="form-inline">

                <div class="form-group mr-sm-2 mb-2" >
                    <input type="search" class="form-control" name="search" placeholder="Search" value={{ request.GET.search }}>
                </div>
                <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-search"></i></button>
            </form>
        <table class="table table-bordered  ">
          <thead class="bg-warning">
            <tr>
              <th scope="col" style="font-family: 'Titillium Web', sans-serif; font-size: 20px" >Title</th>
              <th scope="col" style="font-family: 'Titillium Web', sans-serif; font-size: 20px" >Description</th>
              <th scope="col" style="font-family: 'Titillium Web', sans-serif; font-size: 20px" >Code</th>
              <th scope="col" style="font-family: 'Titillium Web', sans-serif; font-size: 20px"> Created Date</th>
              <th class="text-right" scope="col" style="font-family: 'Titillium Web', sans-serif; font-size: 20px">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for r in room %}

            <tr>
              <th scope="row">{{ r.title }}</th>
              <th scope="row">{{ r.dscp }}</th>
              {% if r.start is True %}        
              <th scope="row">{{ r.code }}</th>       
              {% else %}
              
              <th scope="row">Unavailable</th>
              {% endif %}
              <td style="font-family: 'B612', sans-serif;">{{ r.pub_date }}</td>
              <td class="text-right">
                 <a href="{% url 'List' r.id %}" <button type="button" class="btn btn-info badge-pill">EDIT</button></a>
                <a href="{% url 'deleteRoom' r.id %}" onclick="return confirm('Do you Really want to Delete ?')" <button type="button" class="btn btn-danger badge-pill">DELETE</button></a>
                 {% if r.start is True %}
                 <a href="{% url 'close_room' r.id %}" onclick="return confirm('Do you want to close the Poll?')" <button type="button" class="btn btn-warning badge-pill">Close Poll</button></a>
                 {% if r.public is True %}
                 <a href="{% url 'unlist_poll' r.id %}" onclick="return confirm('Do you want to Unlist the Poll?')" <button type="button" class="btn btn-warning badge-pill">Unlist Poll</button></a>
                 {% else %}
                 <a href="{% url 'public' r.id %}" onclick="return confirm('Do you Really want Publicize the Poll?')" <button type="button" class="btn btn-success badge-pill">Publicize</button></a>
                {% endif %}
                 {% else %}
                 <a href="{% url 'done_room' r.id %}" onclick="return confirm('Do you Really want Host the Poll?')" <button type="button" class="btn btn-warning badge-pill">Host</button></a>
                {% endif %}

                  <button type="button" class="btn btn-details text-black" data-toggle="modal" data-target="#exampleModal" onclick="getPollDetails('{{r.id}}')">
                    View Details
                </button>
              </td>
            </tr>
            {% endfor %}
{#            <tr>#}
{#              <th scope="row">2</th>#}
{#              <td>Larry</td>#}
{#              <td class="text-right">#}
{#                <a href="#" <button type="button" class="btn btn-primary badge-pill">EDIT</button></a>#}
{#                <a href="#" <button type="button" class="btn btn-info badge-pill">DELETE</button></a>#}
{#                <a href="#" <button type="button" class="btn btn-warning badge-pill">Update</button></a>#}
{##}
{#              </td>#}
{#            </tr>#}
          </tbody>
        </table>
    </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title font-weight-bold" id="exampleModalLabel">View Poll Details</h5>
                    </div>
                        <div class="modal-body">

                          <h5 id='polltitle' class="card-title">Title:</h5><br>
                          <h5 id='polldscp' class="card-title">Description: {{ room.dscp }}</h5><br>
                          <h5 id='category' class="card-title">Category: {{ room.category }}</h5><br>
                              <h5 id='pollcode' class="card-title">Code: {{ room.code }}</h5><br>
                            <h5 class="card-title">Status: </h5><b id='status' style="color:red"></b><br><br>
                <img id='qr-code' src="http://api.qrserver.com/v1/create-qr-code/?size=240x240&data=http://192.168.86.109:8000/accounts/Enter-your-Name/{{ room.code }}/" />
                 
                        </div>
                        <div class="modal-footer button-block">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger text-white" data-toggle="modal" data-target="#exampleModal">
                                CANCEL
                            </button>
                        </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
  function getPollDetails(id){
    $.ajax({
          url: '{% url "getPollDetails" %}',
          dataType: 'json',
          type: "GET",
          data: { 'id': id },
          success: function (data) {
              if (data.status == 'success') {
                $("#polltitle").html('Title: ' + data.title);
                $("#polldscp").html('Description: ' + data.dscp);
                $("#category").html('Category: ' + data.category);
                if(data.start == true){
                console.log(data.start)
                  $("#status").text('Open');
                  $("#status").css("color", "green");
                  $("#pollcode").html('Code: ' + data.code);
                  $("#qr-code").attr('src', 'http://api.qrserver.com/v1/create-qr-code/?size=240x240&data=http://192.168.86.120:8000/accounts/Enter-your-Name/' + data.code);
                }
                else{
                  $("#status").text('Close');
                  $("#status").css("color", "red");
                  $("#pollcode").html('Code: ');
                $("#qr-code").attr('src', '');
                }
              }
          },
      }); 
  }
</script>

</body>

</html>
