{% extends 'base.html' %}


{% block content %}
    {% if poll.room.start %}
<div class="container">
{% if poll.multiSelect %}
    <h6  class="right" style="font-family: 'B612', sans-serif; color: white">You Can select Multiple Options</h6>
    {% endif %}
	{#<h6  id="participent_id" >{{ poll.time }}</h6>#}
	<progress value="0" max="{{ poll.time }}" id="progressBar"></progress>
	<h>{{ poll.time }} SECONDS</h>
	<h1>{{ poll.room.dscp }}</h1>
	{% if messages %}
	<div class="messages">
		{% for message in messages %}
		<div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	<hr>
	<h2 class="mt-3 mb-3">{{ poll }}</h2>
	<form method="POST">
		{% csrf_token %}
		{% for choice in poll.choice_set.all %}
            {% if user.id != poll.room.creator.id %}
		<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
             {% endif %}
		<label for="choice{{ forloop.counter }}"><h6>{{ choice.choice_text }}</h6></label>
		<br>

		{% endfor %}
    {% if user.id != poll.room.creator.id %}
		<input type="submit" value="Lock In" class="btn btn-primary mt-3">
{#		<a class="btn btn-warning mt-3" href="{% url 'List' %}" role="button">Cancel</a>#}
    {% endif %}
	</form>

</div>
    {% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	var url = null,
		choice = {
			type: 'singular',
			data: []
		};

	setTimeout(function() {
		//target file's url
		url = '/accounts/Get-MultiSelect/{{ poll.id }}'
		$.get(url, function(data, status) {
			if(status === 'success') {
				if(data.multiSelect) {
					for(let elm of $('input[name=choice]')) {
						elm.setAttribute('type', 'checkbox');
						console.log('Checkbox enabled ❤');
					}
					choice.type = 'multiSelect';
				}
			}
		});
	}, 100);


	function postAns() {
		url = '/accounts/poll_vote_test/{{ poll.id }}/';
		$.post(url, JSON.stringify(choice), function(data, status) {
			if (status === 'success') {
				location.href = '/accounts/Poll-Results?id={{ poll.id }}';
			}
		});
	}


	const form = document.querySelector('form');
	form.reset();
	form.onsubmit = event => {
		event.preventDefault();
		//check which choice has been selected
		for (let field of document.querySelectorAll('input')) {

			//prevent choice transition
			field.onclick = event => {
				event.preventDefault();
			};

			//select the checked choice
			if (field.checked) {
				choice.data.push(field.value);
			}
		}
		console.log(JSON.stringify(choice));
	};

	var timeleft = {{ poll.time	}};
	var downloadTimer = setInterval(function() {
		if (timeleft <= 0) {
			clearInterval(downloadTimer);
			if (timeleft == 0) {
				postAns();
			}
		}
		document.getElementById("progressBar").value = {{ poll.time	}} - timeleft;
		timeleft -= 1;
	}, 1000);

</script>
{% endblock content %}
