{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            <h2 style="font-family: 'Muli', sans-serif; font-size: 60px; position: relative;height: 130px">Edit Question</h2>
            {% if messages %}
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary" style="font-family: 'Muli', sans-serif;">Update</button>
                <a style="font-family: 'Muli', sans-serif;" class="btn btn-danger" href="{% url 'delete' poll.id %}" role="button" onclick="return confirm('Are you sure?')">Delete</a>
                <a class="btn btn-warning" href="{% url 'choice_add' poll.id %}" role="button" style="font-family: 'Muli', sans-serif;">Add Option</a>
            </form>
    <br><br>
            <div class="choices">
                <h2 class="text-center mt-3" style="font-family: 'Muli', sans-serif; font-size: 30px;">Options</h2>
                <hr>
                <ul class="list-group">
                    {% for choice in poll.choice_set.all %}
                    <la style="font-family: 'Muli', sans-serif; font-size: 20px;" class="list-group-item"><button onclick="window.location.href='/accounts/Poll-Edit/Choice-Delete/{{ choice.id }}'" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>&nbsp
                        {{ choice.choice_text }}</la>

                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}