{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static '/css/custom.css' %}">
	<link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/images/icon.ico' %}">
</head>

<body class="poppins bc-dark lightPeach">

	<div class="forgot-parent flex flex-col justify-between transit-2 text-shadow">
		<!--The box containing forgot box-->
		<div id="div01" class="forgot-box flex flex-col justify-between gr-darksilver">

			<!--The header right on top-->
			<h2>Forgot your password, mate?</h2>

			<a class="lets-find font-15px transit-2">
				Okay, lets find your account!
			</a>

			<!--The forgot password form-->
			<form method="post" class="flex flex-col justify-between">

				<!--Email field-->
				<input required type="text" name="username" class="input poppins box-shadow" placeholder="Username">

				<button type="submit" class="verify-button button poppins flex flex-center bc-dark lightPeach transit-1 box-shadow">
					<h3>Verify</h3>
				</button>
				<!--The Error Field-->
				<div class="error flex flex-center shadow bc-dark lightPeach"></div>
			</form>
		</div>

		<!--The box containing reset box-->
		<div id="div02" class="forgot-box reset-box flex flex-col justify-between gr-darksilver transit-2">

			<!--The header right on top-->
			<h2>Lets get you a new password!</h2>

			<a class="lets-find font-15px transit-2">
				Don't forget it this time . . .
			</a>

			<!--The reset password form-->
			<form method="post" class="flex flex-col justify-between">

				<!--password fields-->
				<span class="reset-inputs flex justify-between">
					<input required type="password" name="pass" class="input poppins box-shadow" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
					<input required type="password" name="conf_pass" class="input poppins box-shadow" placeholder="Confirm Password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
				</span>

				<button type="submit" class="verify-button button poppins flex flex-center bc-dark lightPeach transit-1 box-shadow">
					<h3>Submit</h3>
				</button>
			</form>
		</div>

		<!--The Error Field-->
		<div class="forgot-error flex flex-center gr-redsilver lightPeach transit-1">
			Hello World
		</div>
	</div>

	<!--Verification Code Modal-->
	<div class="modal-background w-100 h-100vh flex flex-center z-5 p-abs transit-2">
		<div class="modal-content flex flex-col justify-between bc-dark transit-5">

			<a href="" class="modal-heading basic-link poppins lightPeach ">Enter the code sent at <span></span></a>

			<form method="post" class="flex flex-col justify-between">
				<div class="flex justify-between">
					<input maxlength="4" required type="text" name="input" class="border-none poppins light">
				</div>
				<button type="submit" class="button poppins transit-1">Verify</button>
			</form>

			<a href="" class="modal-resend basic-link poppins lightPeach transit-1">Resend Code?</a>

			<a class="back-button basic-link lightPeach transit-1">&#8592;</a>

			<div class="modal-error font-bold gr-peach dark flex flex-center">
			</div>

		</div>
	</div>

	<script>
		window.addEventListener('load', function() {

			/*var $ = document.querySelector.bind(document);
var $$ = document.querySelectorAll.bind(document);
console.log($('.flex'));*/

			//Required data items
			var modal_button = document.querySelectorAll('.form-button>button')[0];
			var modal_background = document.querySelectorAll('.modal-background')[0];
			var modal_content = document.querySelectorAll('.modal-content')[0];
			var modal_email = document.querySelectorAll('.modal-heading>span')[0];

			//modal error
			var modal_error = document.querySelectorAll('.modal-error')[0];

			//Back Button
			var back_button = document.querySelectorAll('.back-button')[0];
			//console.log(modal_background, modal_button, modal_content, back_button);

			//hide modal onclick
			back_button.onclick = function() {
				modal_background.style.display = 'none';
			}

			//Get both the forgot and reset divs
			var forgot_div = document.querySelectorAll('#div01')[0];
			var reset_div = document.querySelectorAll('#div02')[0];

			//Get both of the forms
			var forgot_form = document.querySelectorAll('form')[0];
			var reset_form = document.querySelectorAll('form')[1];
			var modal_form = document.querySelectorAll('form')[2];

			//Reset the forms onload to remove previous values
			forgot_form.reset();
			reset_form.reset();
			modal_form.reset();

			//The Error field
			var error_field = document.querySelectorAll('.forgot-error')[0];
			var error = '';

			//hide error on click
			error_field.onclick = function() {
				this.style.display = 'none';
			}

			//ajax call when forget password form is submitted
			forgot_form.onsubmit = function(e) {
				//prevent original form submission
				e.preventDefault();

				//Hide error and empty it in case it was previously visible or had previous error
				error_field.innerHTML = '';
				error_field.style.display = 'none';

				//input field values
				var username = document.querySelectorAll('input[name=username]')[0].value;

				//insert url of target file
				var url = 'http://127.0.0.1:8000/Forget-Password/';

				//make data object to send
				var data = {
					login: username
				}

				//ajax request
				var http = new XMLHttpRequest();
				http.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var output = JSON.parse(this.responseText);
						if (output.email == false) {
							error = 'Sorry! The requested account does not exist!';
							show_err(error);
						} else {
							//Assign email to modal
							modal_email.innerHTML = output.email;
							//show modal
							modal_background.style.display = 'flex';
						}
					}
				}
				http.open('POST', url, true);
				http.setRequestHeader('Content-Type', 'Application/json');
				http.send(JSON.stringify(data));
			}

			//ajax call when forget password form is submitted
			reset_form.onsubmit = function(e) {
				//prevent original form submission
				e.preventDefault();

				//Hide error and empty it in case it was previously visible or had previous error
				error_field.innerHTML = '';
				error_field.style.display = 'none';

				//input field values
				var pass = document.querySelectorAll('input[name=pass]')[0].value;
				var conf_pass = document.querySelectorAll('input[name=conf_pass]')[0].value;

				//if passwords don't match
				if (pass != conf_pass) {
					error = 'Passwords do not match!';
					show_err(error);
				} else {

					//Confirmed password
					var password = pass;

					//insert url of target file
					var url = 'http://127.0.0.1:8000/Forget-Password-done/';

					//make data object to send
					var data = {
						password: password
					}

					//ajax request
					var http = new XMLHttpRequest();
					http.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200) {
							var output = JSON.parse(this.responseText);
							if (output.redirect == true) {
								location.href = "/accounts/Login/"
							}
						}
					}
					http.open('POST', url, true);
					http.setRequestHeader('Content-Type', 'Application/json');
					http.send(JSON.stringify(data));
				}
			}

			//when modal form is submitted
			modal_form.onsubmit = function(e) {
				e.preventDefault();

				//Empty the error field to remove previous errors
				modal_error.innerHTML = '';

				//modal input fields
				var verification = document.querySelectorAll('input[name=input]')[0].value;
				console.log(verification);
				//Insert url of target file for verification code
				var url = 'http://127.0.0.1:8000/Forget-Password-Confirm/';

				//code dictionary
				var data = {
					verification: verification
				}

				var http = new XMLHttpRequest();
				http.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var output = JSON.parse(this.responseText);
						if (output.login == false) {
							modal_error.style.display = 'flex';
							modal_error.innerHTML = "Ehm, this ain't the code we sent!";
						} else {
							modal_background.style.display = 'none';
							forgot_div.style.display = 'none';
							reset_div.style.display = 'flex';
						}
					}
				}
				http.open('POST', url, true);
				http.setRequestHeader('Content-Type', 'Application/json');
				http.send(JSON.stringify(data));
			}

			//Function that displays the error
			function show_err(str) {
				error_field.innerHTML = str;
				error_field.style.display = 'flex';
			}
		});

	</script>
</body>

</html>
