{% load static %}
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0; url=/accounts/Dashboard/">
{% else %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>poll : ARM Homepage - An Introduction</title>
	<meta name="author" content="Kashan Ahmad">
	<meta name="description" content="An online web application system that is too much suitable for Voting ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="{% static '/images/logo.jpg' %}">
	<link rel="stylesheet" href="{% static '/css/custom.css' %}">
	<link rel="stylesheet" href="{% static '/css/homepage.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static '/images/logo.jpg' %}">
	<script src="https://kit.fontawesome.com/81b85091a7.js" crossorigin="anonymous"></script>

</head>

<body>

	<article id="homepage" class="b-gray">

		<div id="homepage-container" class="white grad upper p-rel">

			<header>
				<span class="flex flex-fullColumn gray s-yellow">
					<h1 ><img src="{% static '/images/logo.jpg' %}" alt="logo" width="25px" class="logo"> Welcome</h1>
					<h3 style="font-size: 40px">poll : ARM</h3>
					<h4 class="tx-3">
						where work becomes as easy as having lunch</h4>
				</span>

				<span id="title-last" class="pops pointer d-xl-block flex">
					<h1 class="bg-title white s-gray">The Fastest and Easiest way for Growing</h1>
				</span>
			</header>

			<content>

				<span id="content-first" class="pops pointer d-xl-block">
					<h1 class="bg-title">Discover New Horizons with us at poll : ARM</h1>
				</span>

				<center>
					<div class="over-auto" id="display">
					</div>
					<span>
						Ongoing Polls
					</span>
				</center>


			</content>




			<footer>

				<h3 hidden class="gray s-yellow">login to your account to begin</h3>

				<span class="flex flex-fullColumn">

					<a href="{% url 'Login' %}" class="rdr b-orange gray">
						<i class="fas fa-shipping-fast"></i>
						login
					</a>
					<a href="{% url 'signup' %}" class="rdr orange gray">
						<i class="fas fa-shipping-fast"></i>
						Register
					</a>
					<a id="code-btn" class="rdr pointer white b-gray s-yellow">
						<i class="fas fa-code"></i>
						Access Poll
					</a>

				</span>

			</footer>

			<button hidden class="pops white" id="theme" title="Switch theme"><i class="fas fa-adjust">
					<span>Orignal</span>
				</i></button>

		</div>

	</article>

	<div id="code" class="p-abs flex justify-center">
		<div class="grad p-rel">
			<form id="set" name="code-form"><label for="code">
					<h4 class="gray s-yellow" style="text-align: left">Enter the 6-digit code</h4>
				</label>

				<input type="text" name="code" maxlength="6" placeholder="000000">
				<button type="submit" class="upper gray font-bold pointer pops">submit</button>
			</form>
			<span id="close-parent" class="gray s-yellow pointer pops">&times;</span>
		</div>
	</div>
	<!--code error-->
	<div id="code-error">
		<span class="b-red white s-gray font-bold flex justify-center align-center">

			<span>
				Seems like that was a faulty code
			</span>
			<img src="{% static '/images/icons/sad.ico' %}" alt=":(">

		</span>
	</div>


	<script type="text/javascript" src="{% static '/js/6-digit.js' %}"></script>

	<script type="text/javascript" src="{% static '/js/theme-switch.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	 <script>
    $(document).ready(function () {
        setInterval(function ()
        {
          $.ajax({
              type:'GET',
              url: '{% url 'publicizedPoll' %}',

              success: function (response) {
                  $("#display").empty()

                for (var key  in response.users){

                    var temp = "---------------------<br>"+ response.users[key].title +"<br>"+ response.cate[key].category__catgry +"<br>"+response.users[key].code+"<br>-------------------<br>";
                    $("#display").append(temp)
                }


              },

          });

        },1000);
    });
</script>





</body>

</html>
{% endif %}