{% load static %}
<!DOCTYPE html>
<html>

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
		}

	</style>
</head>

<body>
	<table style="width:100%">
		<tr>
			<th>Total Participants joined {{ count }}</th>
		</tr>
		{% for p in part %}
		<tr>
			{% if p %}
			<td>Participant {{ p.participent }}</td>
			{% endif %}
		</tr>
		{% endfor %}

	</table>
	<h2 id="participent_id">{{ p_id }}</h2>
	<center>
		<h6>CODE: {{ p.code }}</h6>
		LEAVE ROOM:
		<form action="{% url 'leave' p_id %}" method="post">
			{% csrf_token %}
			<label>

				<input type="submit">
			</label>

		</form>
		{% if p.start %}
		<h6>POll is Started </h6>
		<a href="/accounts/List-Polls?d={{ p.id }}"> CLICK TO GET STARTED</a>
		{% endif %}

	</center>

	<div id="display"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{#	<script type="text/javascript" src="{% static '/js/prtcpnt_id.js' %}"></script>#}
	<script>
    $(document).ready(function () {
        setInterval(function ()
        {

          $.ajax({
              type:'GET',
              url: '{% url 'msge2' p.id%}',
              success: function (response) {

                console.log(response.room);
                    if (response.room == true){
                        window.location.href='/accounts/Poll-Vote?d={{ question.id }}';
                    }

              },
              error:function(response) {

              }
          });


        },1000);
    });
</script>


    <script>
		/*const url = null,
			http = new XMLHttpRequest();

		setInterval(() => {
			getredirect();
		}, 5000);

		//5000 means 5 seconds, change it accordingly bruh :)

		function getredirect() {

			$.get(url, function(data, status) {
				data = JSON.parse(data);
				if (data.check) {
					location.href = null;
				} else {
					console.log('BYE HAVE A GOOD TIME!');
				}
			});
			//in case the above code doesn't work, use the one given below :)
			/*http.onreadystatechange = function() {
if (this.readyState === 4 && this.status === 200) {
console.log(this.responseText);
var output = JSON.parse(this.responseText);
if (output.check) {
location.href = null;
} else {
console.log('BYE HAVE A GOOD TIME!');
}
}
}
http.open('GET', url, true);
http.setRequestHeader('Content-type', 'Application/json');
http.send();*/
		}

	</script>
</body>

</html>
