{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
  <title>Table</title>
  <style media="screen">
    .center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
    .loader {
  margin: auto;
  width: 60%;
  padding: 10px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
  body {
    height: 100vh;
    background: url("{% static 'images/Orange.png' %}") no-repeat center center fixed;
    background-size: cover;
  }
  /* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  </style>
</head>

<body>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br>

  </div>
    <section class="text-center">
      
      <div class="center">
        
        <div class="loader"></div><br>
        <font size="5" color="white">Poll will be starting soon, please get ready!</font>

    </div>
    </section>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>
	<script>
    $(document).ready(function () {
        setInterval(function ()
        {
          $.ajax({
              type:'GET',
              url: '{% url 'getPart' p.id%}',
              success: function (response) {
                  $("#display").empty()
                  $("#display1").empty()
                for (var key  in response.users){
                    var temp = "<tr><th>"+ response.users[key].participent +"</th></tr>";
                    $("#display").append(temp)
                }
                var temp1 = "Participants Joined: "+response.count ;
                $("#display1").append(temp1)

              },
              error:function(response) {
                  alert('Disconnected ! Try Again ')
              }
          });

        },1000);
    });
</script>
<script>
    $(document).ready(function () {
        setInterval(function ()
        {

          $.ajax({
              type:'GET',
              url: '{% url 'msge2' p.id%}',
              success: function (response) {

                console.log(response.room);
                    if (response.room == true){
                        window.location.href='/accounts/Poll-Vote?d={{ question.id }}';
                    }
              },
              error:function(response) {
              }
          });
        },1500);
    });
</script>
</html>
