{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-sm-2">
        {% if room.active %}
            <h1 style="position: relative; right: 70px;height: 50px; font-family: 'Muli', sans-serif; font-size: 50px "  class="text-center mt-3 mb-3" >{{room.title}} </h1>
         <a   class="btn btn-danger mb-3 float-right"   href="{% url 'end_pollroom' room.id %}" role="button" onclick="return confirm('Do you really want to Delete Poll?')" style="position: absolute; top: 30px;  right: -90px;font-family: 'Muli', sans-serif;"  >Delete Poll </a>

{#            <h1 hidden  class="text-center mt-3 mb-3">CODE: {{ room.code }}</h1>#}
              <h1 style="position: relative;height: 100px;right: 100px; font-family: 'Muli', sans-serif; font-size: 25px "  class="text-center mt-3 mb-3" >{{room.dscp}} </h1>
        <center style="position: relative; right: 100px;font-family: 'B612', sans-serif;">   Created By: {{user.first_name}} {{ user.last_name }}</center>
        {% endif %}
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div  {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}

                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if room.active %}
{#            <a class="btn btn-{% if 'name' in request.GET %}warning{% else %}primary{% endif %} mb-3" href="?name=True"#}
{#                role="button"><i class="fas fa-sort-alpha-down"></i>#}
{#                Name</a>#}
{#            <a class="btn btn-{% if 'date' in request.GET %}warning{% else %}primary{% endif %} mb-3" href="?date=True"#}
{#                role="button"><i class="far fa-clock"></i> Date</a>#}
{#            <a class="btn btn-{% if 'vote' in request.GET %}warning{% else %}primary{% endif %} mb-3" href="?vote=True"#}
{#                role="button"><i class="fas fa-poll"></i> Vote</a>#}
        {% if user.id == room.creator.id  %}
            <a style="position: relative; bottom:-20px;  left:120px;font-family: 'Muli', sans-serif;"  class="btn btn-primary mb-3 float-right" href="{% url 'create' room.id %}" role="button">Add Question<i class="fas fa-plus"></i></a>
{#         <a  class="btn btn-primary mb-3 float-right" href="{% url 'end_pollroom' room.id %}" role="button" onclick="return confirm('Do you really want to Delete Poll?')">Delete Poll <i ></i></a>#}
             <a style="position: relative; left: 200px;bottom: -100px;font-family: 'Muli', sans-serif;"  class="btn btn-primary mb-3 float-right" href="{% url 'doneRoom' room.id %}" role="button">DONE<i class="fas fa-plus"></i></a>
            <a hidden  class="btn btn-primary mb-3 float-right" href="{% url 'savePoll' room.id %}" role="button" onclick="return confirm('Do you really want to Save poll and End it ?')">Save Poll Room <i ></i></a>
                                                {% endif %}
                {% if user.is_authenticated == False%}
                    <a  class="btn btn-primary mb-3 float-right" href="{% url 'home' %}" role="button" onclick="return confirm('Do you really want to Submit Poll ?')">Submit<i ></i></a>
        {% endif %}
                    {#            <form class="form-inline">#}
{#                <div class="form-group mr-sm-2 mb-2">#}
{#                    <input type="search" class="form-control" name="search" placeholder="Search" value={{ search_term }}>#}
{#                </div>#}
{#                <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-search"></i></button>#}
{#            </form>#}


            <ul class="list-group">
                {% for poll in p %}
                <li class="list-group-item"><hp href="{% url 'detail' poll.id %}">{{ poll.text|truncatewords:5 }}   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        <b> {{ poll.time }} Sec</b>
                        {% if not poll.active%}
                        <i class="fas fa-check-circle ml-2"></i>
                        {% endif %}
                    </hp>
                    {% if room.creator.id == user.id %}
                    {% if room.active %}
{#                    <a href="{% url 'end_poll' poll.id %}" data-toggle="tooltip" data-placement="top" title="End Poll"#}
{#                        onclick="return confirm('Are you sure ?')"><i class="fas fa-step-forward float-right btn btn-danger btn-sm"></i></a>#}
                    {% endif %}
                        {% if room.creator.id == user.id %}

            <a class="btn btn-primary mb-3 float-right" href="{% url 'edit' poll.id %}" style="font-family: 'Muli', sans-serif;" role="button">Edit Question/Add Options<i class="fas fa-plus"></i></a>
                                    {% endif %}
                    {% endif %}
                </li>

                {% endfor %}
            </ul>
{#            <nav class="mt-3">#}
{#                <ul class="pagination">#}
{#                    {% if polls.has_previous %}#}
{#                    <li class="page-item"><a class="page-link" href="?page=1&{{ params }}">First</a></li>#}
{#                    <li class="page-item"><a class="page-link" href="?page={{ polls.previous_page_number }}&{{ params }}">Previous</a></li>#}
{#                    {% endif %}#}
{##}
{#                    <li class="page-item active"><a class="page-link" href="">{{ polls.number }}</a></li>#}
{##}
{#                    {% if polls.has_next %}#}
{#                    <li class="page-item"><a class="page-link" href="?page={{ polls.next_page_number }}&{{ params }}">Next</a></li>#}
{#                    <li class="page-item"><a class="page-link" href="?page={{ polls.paginator.num_pages }}&{{ params }}">Last</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </nav>#}
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}