{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>poll : ARM Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Warda Qasim">
	<meta name="description" content="Login, to your favourite application management system, fast and secure.">
	<link rel="stylesheet" href="{% static '/css/custom.css' %}">
	<link rel="stylesheet" href="{% static '/css/index.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static '/images/logo.jpg' %}">
	<style>
		body {
			height: 100vh;
			background: url("/static/images/pic1.jpg") no-repeat center center fixed;
			background-size: cover;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.check {
			padding: 0 0 8px 6px;
			left: -1px;
		}

	</style>

</head>

<body class="poppins">

	<!--Waiting box-->
	<div class="head-box gr-peach flex flex-col justify-between">
		<h2 class="dark transit-1">
			Welcome to Poll : ARM!
		</h2>
		<a class="dark transit-1 font-bold"></a>
		<!--Loading icon-->
		<div class="load-gif loadingio-spinner-spinner-achkxxw0uh">
			<div class="ldio-6y08f3xqymd">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

	<section class="background">
		<div class="login-box grad white opacity-off">

			<img src="{% static '/images/avatar.png' %}" class="avatar">
<a href="{% url 'home' %}"><h1>Back</h1></a>
			<h1 class="gray s-yellow pops pointer"> Login Here</h1>

			<form class="yellow s-gray">

				<label for="text" class="pops pointer">Username</label>
				<input type="text" placeholder="Username" class="poppins gray pops pointer" name="email" required>
				<span class="user-error gray s-yellow">
					<img src="{% static '/images/error.ico' %}">
					<span>Wrong Username
					</span>
				</span>

				<label for="password">Password</label>
<input type="password" placeholder="Password" class="poppins gray" name="password" required>
<span class="pass-error gray s-yellow">
	<img src="{% static '/images/error.ico' %}">
	<span>Wrong Password
	</span>
</span>

				<!--Remember me checkbox-->
				<span class="p-rel pointer remember-box" style="margin-top: 0.7rem;">
					<!--checkbox-->
					<span hidden class="check dark bc-lightPeach"></span>
					<label hidden for="term_cond" style="margin-left: 1.5rem;">remember me?</label>
				</span>

				<button type="submit" style="color: black;" class="pops pointer">Login</button>
				<div class="ending">
					<a  href="\Forget-Password/" class="white s-gray">forgot your password?</a><br>
					<a href="{% url 'signup' %}" class="white s-gray">New to poll : ARM? Register Here!</a><br>
				</div>

			</form>

		</div>
	</section>

	<script>
		window.addEventListener('load', function() {

			var quotes = [
				'Parsing the dictionaries...',
				"Feeding the variables, they're hungry...",
				'Satisfying them infinite constraints...',
				'Initiating launch sequence...',
				"If you're reading this, you can read..."
			]

			window.setTimeout(load_js, 2000);
			var box = document.getElementsByClassName('login-box')[0];
			var head_box_quote = document.querySelectorAll('.head-box>a')[0];
			var head_box = document.getElementsByClassName('head-box')[0];
			var user_error = document.querySelector('.user-error');
			var pass_error = document.querySelector('.pass-error');

			//Assign random quote to head-box_quote
			head_box_quote.innerHTML = quotes[Math.floor(Math.random() * quotes.length)];

			function load_js() {

				//Transition the loadout and loadin
				head_box.classList.add('opacity-off');
				box.classList.add('opacity-on');

				//Prevent form submission by default
				var form = document.querySelectorAll('form')[0];

				//Reset the form onload to remove previous values
				form.reset();

				//the terms and condition checkbox
				var click_box = document.getElementsByClassName('remember-box')[0];
				var emptybox = document.querySelectorAll(".check")[0];
				var term_cond = '';

				//change field value onclick
				click_box.onclick = function() {
					//if box has no tick, then tick it and turn on the original checkbox
					if (emptybox.innerHTML == '') {
						emptybox.innerHTML = '✓';
						term_cond = true;
					} else {
						emptybox.innerHTML = '';
						term_cond = false;
					}
				}

				//ajax call when form is submitted
				form.onsubmit = function(e) {
					//prevent original form submission
					e.preventDefault();

					hide_err(user_error);
					hide_err(pass_error);

					//input field values
					var login = document.querySelectorAll('input[name=email]')[0].value;
					var password = document.querySelectorAll('input[name=password]')[0].value;

					//insert url of target file
					var url = '{% url 'Login' %}';

					//make data object to send
					var data = {
						login: login,
						password: password,
						remember: term_cond
					}

					//ajax request
					var http = new XMLHttpRequest();
					http.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200) {
							var output = JSON.parse(this.responseText);
							if (output.username == true && output.password == true) {
								location.href = "{% url 'Dashboard' %}"
							} else if (output.username == true && output.password == false) {
								show_err(pass_error);
							} else if (output.username == false && output.password == true) {
								show_err(user_error);
							} else {
								show_err(user_error);
								show_err(pass_error);
							}
						}
					}
					http.open('POST', url, true);
					http.setRequestHeader('Content-Type', 'Application/json');
					http.send(JSON.stringify(data));
				}
				//Function that displays the error
				function show_err(elm) {
					elm.style.display = 'flex';
				}

				function hide_err(elm) {
					elm.style.display = 'none';
				}
			}
		});

	</script>

</body>

</html>
