{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<a class="button" href="{% url 'startRoom' room.id %}">Comence Poll</a><br>
<a class="button" href="{% url 'endRoom' room.id %}">End Poll</a><br>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Participants
							</div>
{#							<div class="cell">#}
{#								Age#}
{#							</div>#}
<!--							<div class="cell">-->
<!--								Job Title-->
<!--							</div>-->
<!--							<div class="cell">-->
<!--								Location-->
<!--							</div>-->
						</div>

						<div class="row">
                        {% for p in participant %}
							<div class="cell" data-title="Full Name">
                                {% if participant %}
								{{ p.participent }}
                                {% endif %}
							</div>
                        {% endfor %}
{#							<div class="cell" data-title="Age">#}
{#								31#}
{#							</div>#}
<!--							<div class="cell" data-title="Job Title">-->
<!--								iOS Developer-->
<!--							</div>-->
<!--							<div class="cell" data-title="Location">-->
<!--								Washington-->
<!--							</div>-->
						</div>

<!--						<div class="row">-->
<!--							<div class="cell" data-title="Full Name">-->
<!--								Joseph Smith-->
<!--							</div>-->
<!--							<div class="cell" data-title="Age">-->
<!--								27-->
<!--							</div>-->
<!--							<div class="cell" data-title="Job Title">-->
<!--								Project Manager-->
<!--							</div>-->
<!--							<div class="cell" data-title="Location">-->
<!--								Somerville, MA-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="row">-->
<!--							<div class="cell" data-title="Full Name">-->
<!--								Justin Black-->
<!--							</div>-->
<!--							<div class="cell" data-title="Age">-->
<!--								26-->
<!--							</div>-->
<!--							<div class="cell" data-title="Job Title">-->
<!--								Front-End Developer-->
<!--							</div>-->
<!--							<div class="cell" data-title="Location">-->
<!--								Los Angeles-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="row">-->
<!--							<div class="cell" data-title="Full Name">-->
<!--								Sean Guzman-->
<!--							</div>-->
<!--							<div class="cell" data-title="Age">-->
<!--								25-->
<!--							</div>-->
<!--							<div class="cell" data-title="Job Title">-->
<!--								Web Designer-->
<!--							</div>-->
<!--							<div class="cell" data-title="Location">-->
<!--								San Francisco-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="row">-->
<!--							<div class="cell" data-title="Full Name">-->
<!--								Keith Carter-->
<!--							</div>-->
<!--							<div class="cell" data-title="Age">-->
<!--								20-->
<!--							</div>-->
<!--							<div class="cell" data-title="Job Title">-->
<!--								Graphic Designer-->
<!--							</div>-->
<!--							<div class="cell" data-title="Location">-->
<!--								New York, NY-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="row">-->
<!--							<div class="cell" data-title="Full Name">-->
<!--								Austin Medina-->
<!--							</div>-->
<!--							<div class="cell" data-title="Age">-->
<!--								32-->
<!--							</div>-->
<!--							<div class="cell" data-title="Job Title">-->
<!--								Photographer-->
<!--							</div>-->
<!--							<div class="cell" data-title="Location">-->
<!--								New York-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="row">-->
<!--							<div class="cell" data-title="Full Name">-->
<!--								Vincent Williamson-->
<!--							</div>-->
<!--							<div class="cell" data-title="Age">-->
<!--								31-->
<!--							</div>-->
<!--							<div class="cell" data-title="Job Title">-->
<!--								iOS Developer-->
<!--							</div>-->
<!--							<div class="cell" data-title="Location">-->
<!--								Washington-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="row">-->
<!--							<div class="cell" data-title="Full Name">-->
<!--								Joseph Smith-->
<!--							</div>-->
<!--							<div class="cell" data-title="Age">-->
<!--								27-->
<!--							</div>-->
<!--							<div class="cell" data-title="Job Title">-->
<!--								Project Manager-->
<!--							</div>-->
<!--							<div class="cell" data-title="Location">-->
<!--								Somerville, MA-->
<!--							</div>-->
<!--						</div>-->

<!--					</div>-->
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>