
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
</head>
<body>

<h2>Polls Hosted by {{ user.first_name }} {{ user.last_name }}</h2>


<table style="width:30%">
  <tr>
    <th>Poll Name</th>
    <th>Date Completed</th>

  </tr>
    {% for r in room %}

  <tr>
    <td>{{ r.title }}</td>
    <td>{{ r.pub_date.date }}</td>

  </tr>
{% endfor %}
</table>


<h2>Saved Polls</h2>
<table style="width:30%">
  <tr>
    <th>Poll Name</th>
    <th>Date Created</th>

  </tr>
    {% for r in room %}
    {% if r.save_poll %}
  <tr>
    <td>{{ r.title }}</td>
    <td>{{ r.pub_date.date }}</td>

  </tr> {% endif %}
{% endfor %}
</table>

</body>

</html>
