{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=B612:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <title>Compare Results</title>
  <style media="screen">
    body {
      height: 100vh;
      {#background: url("{% static 'images/Orange.png' %}") no-repeat center center fixed;#}
      background-size: cover;
    }
  </style>
    <style>
body {
  font-size: 20px;
}
</style>
</head>

{#{% for x,y in test_list %}#}
{#    {{ x }}<br>#}
{#    {% for c in y %}#}
{##}
{#    <h1>{{ c.0 }}  {{ c.1 }}</h1>#}
{#    {% endfor %}#}
{##}
{#{% endfor %}#}
{#{{ mydict|get_item:item.NAME }}#}

{#{% for x in test_list %}#}
{#    {{ x }}#}
{#{% endfor %}#}

{#{% for s in questions %}#}
{##}
{#<div class="container">#}
{#<div class="row">#}
{##}
{#  <div class="col">#}
{##}
{#      <br><br>#}
{#      <h4>Questions</h4>#}
{#    <table class="table table-bordered table-hover">#}
{#      <thead class="bg-warning">#}
{#        <tr>#}
{#          <th scope="col">Questions</th>#}
{#          <th scope="col">Choices</th>#}
{#        </tr>#}
{#      </thead>#}
{#      <tbody id="display">#}
{#        <tr>#}
{#          <th scope="row">1</th>#}
{#          <td>Mark</td>#}
{#        </tr>#}
{#        {% for dict_item in test_list %}#}
{#   {% for key, value in dict_item.items %}#}
{##}
{#      <tr>#}
{#          <th scope="row">2</th>#}
{#          <td>{{ key }}   {{ value }}</td>#}
{#        </tr>#}
{#   {% endfor %}#}
{#{% endfor %}#}
{##}
{#      </tbody>#}
{#    </table>#}
{#  </div>#}



{#{% for dict_item in test_list %}#}
{#   {% for key, value in dict_item.items %}#}
{##}
{#      <h1> {{key}}  {{value}}</h1>#}
{#      <h2> </h2>#}
{#   {% endfor %}#}
{#{% endfor %}#}
{#{% endfor %}#}

{#<span style='font-size:100px;'>&#9650;</span>#}
<div class="container">
<div class="container"><h3 style="font-family: 'Titillium Web', sans-serif; font-size: 70px" class="text-capitalize">Poll Title: {{ com.room.title }} </h3><br>
  <a href="{% url 'history' roomNum %}" <button type="button" class="btn btn-primary badge-pill" style="font-family: 'Muli', sans-serif;" class="center-block">Back to Poll Information</button></a>


</div>
<br>
<body>

<div class="row">

  <div class="col">
      <h3 id="display1">Comparing: <br><br>{% for complete in ql %}<b style='color:blue'>{{ complete.completed_date }}</b>{% if not forloop.last %} <br> {% endif %} {% endfor %} Records</h3>
      <br>
    <table class="table table-bordered table-hover">
      <thead class="bg-warning">
        {% for c in poll %}
        <tr>
          {% ifchanged c.poll %}
          <th class="bg-warning" class="border table-active table-hover" >Question: {{ c.poll }}</th> 
          {% for s in c.vote_data %}
          <th class="bg-warning" class="border table-active table-hover" scope="col">{{ s.text }}</th>          
        {% endfor %}
        <th class="bg-warning" class="border table-active table-hover" >Total Participants</th>      
        {% endifchanged %}             
        </tr>
      </thead>
      <tbody >
        <tr>
          <td>Poll Hosted at {{ c.recorded_date.completed_date }}</td>
       {% for s in c.vote_data %}
          <td>{{ s.num_votes }}</td>
        {% endfor %}
        <td>{{ c.recorded_date.participants }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    <!-- <div class="container"><a href="#"> CLICK to Export in CSV</a></div> -->


</body>
{#<script src="https://cdn.zingchart.com/zingchart.min.js"></script>#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}

{#<div id="display"></div><div id="display1"></div><div id="display2"></div>#}
    <!-- <div id="myChart" class="container"></div> -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="bower_components/zingchart/client/zingchart.min.js"></script>
<script>

	var state ={
		'items':[],
		'values':[],

	}

	var objId = "{{ com.id }}"

	var dataURL = `/accounts/view-Record/${objId}/`
	$.ajax({
		method:'GET',
		url:dataURL,
		success:function(response){
			console.log('RESPONSE:', response)
			for (var i in response){

				var key = Object.keys(response[i])[0]
				var value = Object.values(response[i])[0]
                {#var value1 = Object.values(response[i])[0]#}
				state.items.push(key)
				state.values.push(value)

			}

			console.log('STATE:', state)
			buildChart()

		}
	})

	function buildChart(){
			var chartData = {
			"type":"bar3d",
			"scale-x":{
				"values":state.items,

			},
                plot: {
        // Animation docs here:
        // https://www.zingchart.com/docs/tutorials/styling/animation#effect
        animation: {
          effect: 'ANIMATION_EXPAND_BOTTOM',
          method: 'ANIMATION_STRONG_EASE_OUT',
          sequence: 'ANIMATION_BY_NODE',
          speed: 1,
        }
      },

                scaleY: {
        // Scale label with unicode character
        {#'min-value':"0",#}
        {#'max-value':"50",#}
        label: { text: '{{ com.completed_date }}',
       transform: {
    type: 'date'  ,
    all: '%m/%d/%y  %h:%i %A'
}
        },

      },
			"series":[
				{
					"values":state.values
				}
			]
		}


		zingchart.render({
		  id: "myChart",
		  data: chartData,
		});
	}




</script>
{#	<script>#}
{#    $(document).ready(function () {#}
{##}
{#          $.ajax({#}
{#              type:'GET',#}
{#              url: '{% url 'getRecord' com.id%}',#}
{#              success: function (response) {#}
{#                  $("#display").empty()#}
{##}
{##}
{##}
{#                    for (var key in response.users) {#}
{#                        var temp = "<h1>" + response.users[key].text + "</h1>";#}
{#                        $("#display").append(temp)#}
{#                        for(var k in response.choice){#}
{#                            if(response.choices_id[key][1] == response.users[key].id ){#}
{#                                 var temp1 = "<h1>" + choices_id[key].text + "</h1>";#}
{#                        $("#display1").append(temp)#}
{#                            }#}
{#                            var temp1 = "<h1>" + response.users[key].text + "</h1>";#}
{#                        $("#display1").append(temp)#}
{#                        }#}
{#                    }#}
                    {#var temp1 = "Participants Joined: "+response.count ;#}
                    {#$("#display1").append(temp1)#}
{##}
{#              },#}
{#              error:function(response) {#}
{#                  alert('Disconnected ! Try Again ')#}
{#              }#}
{#          });#}
{##}
{##}
{#    });#}
{#</script>#}

{#<script>#}
{#    $(document).ready(function () {#}
{##}
{#          $.ajax({#}
{#              type:'GET',#}
{#              url: '{% url 'getchoiceRecord' com.id%}',#}
{#              success: function (response) {#}
{#                  $("#display").empty()#}
{##}
{#                for (var key  in response.users){#}
{#                    var temp = ""+ response.users[key] +"</th></tr>";#}
{#                    $("#display").append(temp)#}
{#                }#}
                {#var temp1 = "Participants Joined: "+response.count ;#}
                {#$("#display1").append(temp1)#}
{##}
{#              },#}
{#              error:function(response) {#}
{#                  alert('Disconnected ! Try Again ')#}
{#              }#}
{#          });#}
{##}
{##}
{#    });#}
{#</script>#}


{#<script>#}
{#	var state2 ={#}
{#		'items':[],#}
{#		'values':[],#}
{##}
{#	}#}
{##}
{#	var objId = "{{ com.id }}"#}
{##}
{#	var dataURL = `/accounts/Get-Poll-Choice-Record/${objId}/`#}
{#	$.ajax({#}
{#		method:'GET',#}
{#		url:dataURL,#}
{#		success:function(response){#}
{#			console.log('RESPONSE:', response)#}
{#            $("#display2").empty()#}
{#			for (var i in response){#}
{##}
{#				var key = Object.keys(response[i])[0]#}
{#				var value = Object.values(response[i])[0]#}
{#                var value1 = Object.values(response[i])[0]#}
{#				state2.items.push(key)#}
{#				state2.values.push(value)#}
{##}
{#			}#}
{##}
{#                for (var x in state2.items) {#}
{#                    var temp = "<h3>" + state2.items[x] + "     " + state2.values[x] + "</h3>"#}
{#                    $("#display1").append(temp)#}
{#                }#}
{##}
{#			console.log('STATE:', state)#}
{##}
{##}
{#		}#}
{#	})#}
{##}
{#</script>#}
</html>