{% extends 'base.html' %}

{% block content %}
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="container">
<div id="thisChart" class="container"></div>
{% if poll.room.start %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        {% endfor %}
    </div>

    {% else %}
        <progress value="" max="10" id="ProgressBar1"></progress>  <b>10 SECONDS</b>

    <div class="row">
        <div class="col-md-8 offset-sm-2">
            {% if poll.active %}
            <h3 class="mt-3 mb-3 text-center">Result for: {{ poll.text }}</h3>
            {% else %}
            <h3 class="mt-3 mb-3 text-center">"{{ poll.text }}" Has Ended Polling !</h3>
            {% endif %}
            <h3 class="mb-2 text-center" id="count"></h3>
            <!-- progress bar -->
            <div class="progress mt-3 mb-2" >
                {% for choice in poll.get_result_dict %}
                <div class="progress-bar bg-{{ choice.alert_class }}" role="progressbar" style="width: {{ choice.percentage }}%;"
                    aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><b>
                        {{choice.text|truncatewords:2}}-{{choice.percentage|floatformat}}%</b>
                </div>
                {% endfor %}

            </div>
            <ul class="list-group" id="display">
{#                {% for choice in poll.choice_set.all %}#}
                <li class="list-group-item d-flex justify-content-between align-items-center" >
{#                    <h1 ></h1>#}
{#                    <h5 ></h5>#}

                    <span class="badge badge-primary badge-pill" ></span>
                </li>

            </ul>
            {% endif %}
{#            <a hidden class="btn btn-primary mt-3" href="/accounts/List-Polls?d={{ room }}" role="button">Back To Polls</a>#}
        </div>

    </div>
</div>
{% endif %}


     <script>
    $(document).ready(function () {

        setInterval(function ()
        {
          $.ajax({
              type:'GET',
              url: '{% url 'Accurate' poll.id %}',

              success: function (response) {
                  $("#display").empty()
                    $("#display1").empty()
                    $("#count").empty()

                  console.log(response.users)
                  console.log(response.count)
                {#for (var key  in response.users){#}
                {##}
                {#    var temp = "<br>"+ response.users[key].text +"<br>"+"<br>";#}
                {#    $("#display").append(temp)#}
                {#    var  temp3 = "<br><ul class=\"list-group\"><br>" + response.users[key].num_votes + "</ul><br>"#}
                {#    $("#display1").append(temp3)#}

                    for (var key  in response.users){

                    var temp = "<li class=\"list-group-item d-flex justify-content-between align-items-center\" >"+ response.users[key].text +"<span class=\"badge badge-primary badge-pill\" >"+response.users[key].num_votes +"</span></li></ul>";
                    $("#display").append(temp)
                    {#var  temp3 = "<br><ul class=\"list-group\"><br>" + response.users[key].num_votes + "</ul><br>"#}
                    {#$("#display1").append(temp3)#}

                }


                     var temp1 = "Total "+ response.count +" votes ";
                    $("#count").append(temp1)


              },

          });

        },1000);
    });
</script>
    <script>

var timeleft = 10;
var downloadTimer = setInterval(function(){
  if(timeleft <= 0) {
      clearInterval(downloadTimer);


      //Jesy he 10 sec ka Timer end ho to yeh dosray Question per redirect ho jaye !!
      //Question pr timer laga hai or wo atomatically redirect ho jaye ga Isi template Results-Poll.html pr wapis aa jaye !!
      //again yehi Flow Hoga....
      // //
      // Question 3 ki id pass hogi yahan sy ==> Question 3 pr jaye ga , timer end honay pr wapis yahin aa jaye ga phr Question 4 and so on ....
      if (timeleft == 0) {
          location.href = '/accounts/testFunction?id_poll={{ poll.id }}'
      }

  }
  document.getElementById("ProgressBar1").value = 10 - timeleft;
  timeleft -= 1;
}, 1000);

</script>





{#<script>#}
{#	var state ={#}
{#		'items':[],#}
{#		'values':[],#}
{#	}#}
{#     setInterval(function ()#}
{#        {#}
{#	var objId = "{{ poll.id }}"#}
{##}
{#	var dataURL = `/accounts/Get-Accurate/${objId}/`#}
{#	$.ajax({#}
{#		method:'GET',#}
{#		url:dataURL,#}
{#		success:function(response){#}
{#			console.log('RESPONSE:', response)#}
{#            $("#display").empty()#}
{#            $("#display1").empty()#}
{#			for (var i in response){#}
{##}
{#				var key = Object.keys(response[i])[0]#}
{#				var value = Object.values(response[i])[0]#}
{##}
{#				state.items.push(key)#}
{#				state.values.push(value)#}
{#			}#}
{##}
{#			console.log('STATE:', state)#}
{#            for(var k in state.items){#}
{#                var temp =  state.items[k];#}
{#                var temp1 = state.values[k];#}
{#                $("#display").append(temp);#}
{#                $("#display1").append(temp1);#}
{#            }#}
{##}
{##}
{#		}#}
{#	}) },1000);#}
{##}
{#</script>#}
{% endblock content %}
