{% load static %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
		}

	</style>
</head>

<body>
<h2>Admin Id: {{ admin }}</h2>
	<table style="width:20%">
		<tr>
			<th>Participants</th>
		</tr>
		{% if participant %}
		{% for p in participant %}
		<tr>
			{% if p %}

			<td >{{ p.participent }} </td>
			{% endif %}
		</tr>
		{% endfor %}
		{% endif %}
	</table>
    <h6 hidden id="participent_id" >{{ participant.last.id }} </h6>
	<center>
		<h2>CODE: {{ room.code }}</h2>
		START ROOM :
     <button id="button1">CLICK</button>
    <div id="code">
		<form id="set" name="code-form" >
			<input hidden name="code" value="200" type="text">
			<input  type="submit">
        </form> </div>

		{% if room.start %}
		<h6>Room has started !</h6><br>
		{% endif %}
		END ROOM:
		<form method="post" action="{% url 'endRoom' room.id %}">
			{% csrf_token %}
			<input type="submit">
		</form>
	</center>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{#	<script type="text/javascript" src="{% static '/js/prtcpnt_id.js' %}"></script>#}

{#<script>#}
{#    document.getElementById('button1').addEventListener('onclick',getRedirect);#}
{##}
{#    function getRedirect() {#}
{#         url = 'http://127.0.0.1:8000/accounts/Poll-Room-test/';#}
{#        http = new XMLHttpRequest();#}
{#		http.onreadystatechange = function () {#}
{#			if (this.readyState == 4 && this.status == 200) {#}
{#			    alert();#}
{#        }#}
{##}
{#    }#}
{#    }#}
{##}
{#    http.open('POST', url, true);#}
{#		http.setRequestHeader('Content-type', 'Application/json');#}
{#		http.send(JSON.stringify(data));#}
{#</script>#}

<script>
    window.addEventListener('load', () => {

	var $ = document.querySelector.bind(document),
		form = $('form[name=code-form]'),
		input = $('input[name=code]');

	form.reset();

	function show(elm) {
		elm.style.display = 'block';
	}

	function showf(elm) {
		elm.style.display = 'flex';
	}

	function hide(elm) {
		elm.style.display = 'none';
	}





console.log("HELLO");
	form.onsubmit = event => {
		event.preventDefault();
		var data = {
				'code': input.value
			},
			//insert target url
			url = 'http://127.0.0.1:8000/accounts/Poll-Room-test/?id={{ room.id }}',

			http = new XMLHttpRequest();
		http.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {

				console.log("WTFF");
				var output = JSON.parse(this.responseText);

				//send a dictionary having a key named 'code'
				//send true if code matches and false if it doesnt

				if (output.code == true) {
					console.log("WTFF");
					location.href = '/accounts/Poll-Vote?d={{ p.id }}'; //redirection url
					console.log("WTFF");

					// setTimeout(() => {
					// 	hide($('#code-error')), 3000
					// });
				}
			}
		}
		http.open('POST', url, true);
		http.setRequestHeader('Content-type', 'Application/json');
		http.send(JSON.stringify(data));
	}

});



</script>




</body>

</html>
