{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
  <title>Table</title>
  <style media="screen">
    body {
      height: 100vh;
      background: url("{% static 'images/Orange.png' %}") no-repeat center center fixed;
      background-size: cover;
    }
  </style>
</head>

<body>
  <br><br>
<font style="position: absolute; left: 700px" color="#00008b" size="100"> SESSION HAS ENDED</font>
{% if user.is_authenticated %}
<section class="text-center" style="position: relative; top: 200px">
        <div class="container">
           <a href="{% url 'Dashboard' %}"><button id="bu" type="button" class="btn btn-primary mt-5 mb-5" style="width:200px; ">Back to HomePage</button></a>

        </div>
      </section>
  {% endif %}
{#{% if user.is_authenticated %}#}
{#<section class="text-center" style="position: relative; top: 200px">#}
{#        <div class="container">#}
{#           <a href="{% url 'Dashboard' %}"><button id="bu" type="button" class="btn btn-primary mt-5 mb-5" style="width:200px; ">Back to Dashboard</button></a>#}
{##}
{#        </div>#}
{#      </section>#}
{#  {% endif %}#}



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
