{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>poll : ARM Signup</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Kashan Ahmad">
	<meta name="description" content=" Signup system is faster than ever!">
	<link rel="stylesheet" href="{% static '/css/custom.css' %}">
	<link rel="stylesheet" href="{% static '/css/index.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static '/images/logo.jpg' %}">
	<style>
		body {
			height: 100vh;
			background: url("/static/images/mike.jpg") no-repeat center center fixed;
			background-size: cover;
		}

		.check {
			padding: 0 0 6px 6px;
			left: -1px;
			top: 1px;
		}

	</style>
</head>

<body class="poppins grad">

	<div class="signup-box grad white flex flex-col borderad-10">
{#        {% if messages %}#}
{#    <div class="messages">#}
{#        {% for message in messages %}#}
{#       <font color="red"><div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</font>#}
{##}
{#        </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    {% endif %}#}
        <a href="{% url 'home' %}">Home Page</a>
		<h2 class="gray s-yellow">Registration</h2>
		<form action="{% url 'signup' %}" name="signup" class="flex gray s-yellow" method="post">
            {% csrf_token %}

			<div class="flex flex-col">
				<label for="fname">First Name</label>
				<input type="text" name="fname" placeholder="first name" class="poppins" required>
				<error class="signup-error flex align-center">
					<img src="{% static '/images/error.ico' %}">
					<a>Error! Name must contain only letters!</a>
				</error>
			</div>

			<div class="flex flex-col">
				<label for="lname">Last Name</label>
				<input type="text" name="lname" placeholder="last name" class="poppins" required>
				<error class="signup-error flex align-center">
					<img src="{% static '/images/error.ico' %}">
					<a>Error! Name must contain only letters!</a>
				</error>
			</div>

			<div class="flex flex-col">
				<label for="username">Username</label>
				<input type="text" name="username" placeholder="username" class="poppins" required>
				<error class="signup-error flex align-center">
					<img src="{% static '/images/error.ico' %}">
					<a>Error! Please select a unique username</a>
				</error>
			</div>

			<div class="flex flex-col">
				<label for="email">Email</label>
				<input type="email" name="email" placeholder="email" class="poppins" required>
				<error class="signup-error  flex align-center">
					<img src="{% static '/images/error.ico' %}">
					<a>Error! Email already exists</a>
				</error>
			</div>

			<!--<div class="flex flex-col">
	<label for="cnic">Don't forget the CNIC#</label>
	<input type="text" name="cnic" placeholder="cnic" class="poppins" required>
	<error class="signup-error  flex align-center">

		<a>Error! Invalid CNIC number</a>
	</error>
</div>-->

			<div class="flex flex-col">
				<label for="password">Password</label>
				<input type="password" name="pass" placeholder="password" class="poppins" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
			</div>

			<div class="flex flex-col">
				<label for="confirm">Confirm Password</label>
				<input type="password" name="conf_pass" placeholder="confirm password" class="poppins" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
				<error class="signup-error  flex align-center">
					<img src="{% static '/images/error.ico' %}">
					<a>Error! Passwords don't match</a>
				</error>
			</div>

			<div>
				<button type="submit" class="poppins bc-lightPeach dark pointer transit-1 b-yellow gray">
					Register
				</button>
			</div>

		</form>
{#        {% for m in messages %}#}
{#          <font color="red" size="4"> {{ m }}</font>#}
{#        {% endfor %}#}

		<!--Terms and Conditions checkbox-->
		<span hidden class="p-rel terms flex pointer" >

			<!--checkbox-->
			<span hidden class="check dark bc-lightPeach" ></span>
			<label hidden for="terms" style="margin-left: 1.5rem">
				Agree to our terms and conditions
			</label>
		</span>

		<error class="signup-error  flex align-center">
			<img src="{% static '/images/error.ico' %}">
			<a>Error! Must agree to our terms and conditions</a>
		</error>

		<a href="{% url 'Login' %}" class="light pointer transit-1 gray">Already have an account?</a>

	</div>

	<!--Verification Code Modal-->
	<div class="modal-background w-100 h-100vh flex flex-center z-5 p-abs transit-2">
		<div class="modal-content flex flex-col justify-between bc-dark transit-5">

			<a href="" class="modal-heading basic-link poppins lightPeach ">Enter the code sent at <span></span></a>

			<form method="post" class="flex flex-col justify-between" name="modal">
				<div class="flex justify-between">
					<input maxlength="4" required type="text" name="input" class="border-none poppins light">
				</div>
				<button type="submit" class="button poppins transit-1">Verify</button>
			</form>

			<a href="" class="modal-resend basic-link poppins lightPeach transit-1">Resend Code?</a>

			<a class="back-button basic-link lightPeach transit-1">&#8592;</a>

			<div class="modal-error font-bold gr-peach dark flex flex-center">
			</div>

		</div>
	</div>

	<script>
		window.addEventListener('load', function() {
			$ = document.querySelector.bind(document);
			$$ = document.querySelectorAll.bind(document);

			//Required data items
			var modal_background = document.querySelectorAll('.modal-background')[0];
			var modal_content = document.querySelectorAll('.modal-content')[0];
			var modal_email = document.querySelectorAll('.modal-heading>span')[0];
			//Modal forms
			var modal_form = document.querySelectorAll('form')[1];
			modal_form.reset();

			//modal error
			var modal_error = document.querySelectorAll('.modal-error')[0];

			//Back Button
			var back_button = document.querySelectorAll('.back-button')[0];
			//console.log(modal_background, modal_content, back_button);

			//hide modal onclick
			back_button.onclick = function() {
				modal_background.style.display = 'none';
			}

			//error fields
			var error_list = $$('.signup-error');
			var errors = error_list.length;

			//Prevent form submission by default
			var signup_form = document.querySelector('form[name=signup]');

			//Reset the form onload to remove previous values
			signup_form.reset();

			//the terms and condition checkbox
			{#var emptybox = document.querySelectorAll(".check")[0];#}
			{#var term_cond = '';#}

			//console.log(emptybox);

			//change field value onclick
			{#emptybox.onclick = function() {#}
			{#	//if box has no tick, then tick it and turn on the original checkbox#}
			{#	if (emptybox.innerHTML == '') {#}
			{#		this.innerHTML = '✓';#}
			{#		term_cond = true;#}
			{#	} else {#}
			{#		this.innerHTML = '';#}
			{#		term_cond = false;#}
			{#	}#}
			{#}#}

			//ajax call when signup form is submitted
			signup_form.onsubmit = function(e) {
				//prevent origianal form submission
				e.preventDefault();

				//Hide previous errors
				for (var i = 0; i < errors; i++) {
					hide_err(error_list[i]);
				}

				//input field values
				var fname = document.querySelectorAll('input[name=fname]')[0].value;
				var lname = document.querySelectorAll('input[name=lname]')[0].value;
				var user_name = document.querySelectorAll('input[name=username]')[0].value;
				var email = document.querySelectorAll('input[name=email]')[0].value;
				{#var cnic = document.querySelectorAll("input[name=cnic]")[0].value;#}
				var pass = document.querySelectorAll('input[name=pass]')[0].value;

				var conf_pass = document.querySelectorAll('input[name=conf_pass]')[0].value;

				//Check the fields
				//console.log(fname, lname, user_name, email, cnic, pass, conf_pass);

				//Full name Validation
				if (validate(fname)) {
					show_err($$('.signup-error')[0]);
				} else if (validate(lname)) {
					show_err($$('.signup-error')[1]);
				}
				//if passwords don't match
				else if (pass != conf_pass) {
					show_err($$('.signup-error')[4]);
				}
				//if Terms and Conditions aren't checked
				{#else if (term_cond == false) {#}
				{#	show_err($$('.signup-error')[6]);#}
				{#}#}
				//when everything is fine
				else {

					//the confirmed password
					var password = pass;

					//insert url of target file
					var url = '/accounts/Signup/';

					//make data object to send
					var data = {
						fname: fname,
						lname: lname,
						username: user_name,
						email: email,
						{#cnic: cnic,#}
						password: password,
					}

					//ajax request
					var http = new XMLHttpRequest();
					http.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200) {
							var output = JSON.parse(this.responseText);
							if (output.username == true && output.email == true ) {
								//Assign email to modal
								modal_email.innerHTML = email;
								//show modal
								modal_background.style.display = 'flex';
							} else if (output.username == false) {
								show_err($$('.signup-error')[2]);
							} else if (output.email == false) {
								show_err($$('.signup-error')[3]);
							}  else {
								show_err($$('.signup-error')[2]);
								show_err($$('.signup-error')[3]);
								show_err($$('.signup-error')[4]);
							}
						}
					}
					http.open('POST', url, true);
					http.setRequestHeader('Content-Type', 'Application/json');
					http.send(JSON.stringify(data));
				}
			}

			//when modal form is submitted
			modal_form.onsubmit = function(e) {
				e.preventDefault();

				//Empty the error field to remove previous errors
				modal_error.innerHTML = '';
				hide_err(modal_error);

				//modal input fields
				var verification = document.querySelectorAll('input[name=input]')[0].value;

				//Insert url of target file for verification code
				var url = '{% url 'Confirm' %}';

				//code dictionary
				var data = {
					verification: verification
				}

				var http = new XMLHttpRequest();
				http.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var output = JSON.parse(this.responseText);
						if (output.login == false) {
							show_err(modal_error);
							modal_error.innerHTML = "Ehm, this ain't the code we sent!";
						} else
							window.location.href = "{% url 'Login' %}";
					}
				}
				http.open('POST', url, true);
				http.setRequestHeader('Content-Type', 'Application/json');
				http.send(JSON.stringify(data));
			}

			//To check if String contains only letters
			function validate(str) {
				if (/^[a-zA-Z]+$/.test(str))
					return false
				else
					return true;
			}

			//Function that displays the error
			function show_err(elm) {
				elm.style.display = 'flex';
			}

			function hide_err(elm) {
				elm.style.display = 'none';
			}
		});

	</script>

</body>

</html>
