{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'Css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'Css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'Css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'Css/table.css' %}" />
  <title>Table</title>
  <style media="screen">
    body {
      height: 100vh;
      background: url("{% static 'images/Orange.png' %}") no-repeat center center fixed;
      background-size: cover;
    }
  </style>
</head>

<body>
  <br><br>

  <div class="text-center">

    <div class="container">
      <div class="row">
      </div>
      <div class="row">
        <div class="col">

        </div>
        <div class="col">


            <form class="needs-validation" method="post" >
                                    {% csrf_token %}
              <div class="form-row align-items-center">
                <div class="col-md-9 ml-5 mb-3">
                  <label for="validationCustomUsername">Please Enter Your Name:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" name="name" id="validationCustomUsername" placeholder="Enter Your Name" aria-describedby="inputGroupPrepend" required >
                    <div class="invalid-feedback">
                      Please Enter Your Name
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col">

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">

          </div>
          <div class="col">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" name="check" type="checkbox" required >
                <label class="form-check-label"  for="invalidCheck">
                  Hide Your Identity
                </label>
              </div>
            </div>
          </div>
          <div class="col">

          </div>
        </div>

      </div>
      <section class="text-center">
        <div class="container">
           <button id="bu"  type="submit" class="btn btn-primary mt-5 mb-5" style="width:200px;">Proceed</button>
          </p>
        </div>
      </section>
      </form>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script>
          jQuery(function ($) {
    var $inputs = $('input[name=name],input[name=check]');
    $inputs.on('input', function () {
        // Set the required property of the other input to false if this input is not empty.
        $inputs.not(this).prop('required', !$(this).val().length);
    });
});
      </script>


</body>

</html>
