{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=B612:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
  <title>Table</title>
  <style media="screen">
  body {
    height: 100vh;
    background: url("{% static 'images/Orange.png' %}") no-repeat center center fixed;
    background-size: cover;
  }
  .center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
  </style>
</head>

<body>
  <br><br>


<div class="container">
  <div class="center">
    <h2 style="position: relative; left: 50px">Hosted By: {{ room.creator.first_name }} {{ room.creator.last_name }}</h2>
    <div class="card center" style="width: 18rem;">

        <div class="card-body">

          <h5 class="card-title">Title: {{ room.title }}</h5><br>
          <h5 class="card-title">Description: {{ room.dscp }}</h5><br>
              <h5 class="card-title">Code: {{ room.code }}</h5><br>
            <h5 class="card-title">Category: {{ room.category }}</h5>
{#          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
<img src="http://api.qrserver.com/v1/create-qr-code/?size=240x240&data=http://192.168.86.109:8000/accounts/Enter-your-Name/{{ room.code }}/" />
        </div>
  </div>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>



{#    <script type="text/javascript">#}
{#      function disableF5(e) { if ((e.which || e.keyCode) == 116) e.preventDefault(); };#}
{#    </script>#}




<script>
    window.addEventListener('load', () => {

	var $ = document.querySelector.bind(document),
		form = $('form[name=code-form]'),
		input = $('input[name=code]');

	form.reset();

	function show(elm) {
		elm.style.display = 'block';
	}

	function showf(elm) {
		elm.style.display = 'flex';
	}

	function hide(elm) {
		elm.style.display = 'none';
	}

	form.onsubmit = event => {
		event.preventDefault();
		var data = {
				'code': input.value
			},
			//insert target url
      url = location.protocol + '//' + location.host + '/accounts/Poll-Room-test/?id={{ room.id }}',
      
			http = new XMLHttpRequest();
		http.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
                console.log("HELLO");
				console.log("WTFF");
				var output = JSON.parse(this.responseText);

				//send a dictionary having a key named 'code'
				//send true if code matches and false if it doesnt

				if (output.code == true) {
					console.log("WTFF");
					location.href = '/accounts/Poll-Vote?d={{ p.id }}'; //redirection url
					console.log("WTFF");

					// setTimeout(() => {
					// 	hide($('#code-error')), 3000
					// });
				}
			}
		}
		http.open('POST', url, true);
		http.setRequestHeader('Content-type', 'Application/json');
		http.send(JSON.stringify(data));
	}

});



</script>


<script>
    window.addEventListener( "load", function () {
  function sendData() {
    const XHR = new XMLHttpRequest();

    // Bind the FormData object and the form element
    const FD = new FormData( form );

    // Define what happens on successful data submission
    XHR.addEventListener( "load", function(event) {
      alert( "Poll has been Publicized" )

    } );

    // Define what happens in case of error
    XHR.addEventListener( "error", function( event ) {
      alert( 'Oops! Something went wrong.' );
    } );

    // Set up our request
    XHR.open( "POST", "http://127.0.0.1:8000/accounts/Publicize-Poll/{{ room.id }}/" );

    // The data sent is what the user provided in the form
    XHR.send( FD );
  }

  // Access the form element...
  const form = document.getElementById( "myForm" );

  // ...and take over its submit event.
  form.addEventListener( "submit", function ( event ) {
    event.preventDefault();

    sendData();
  } );
} );

</script>



	<script>
    $(document).ready(function () {
        setInterval(function ()
        {
          $.ajax({
              type:'GET',
              url: '{% url 'getPart' room.id%}',
              success: function (response) {
                  $("#display").empty()
                  $("#display1").empty()
                for (var key  in response.users){
                    var temp = "<tr><th>"+ response.users[key].participent +"</th></tr>";
                    $("#display").append(temp)
                }
                var temp1 = "Participants Joined : "+response.count ;
                $("#display1").append(temp1)
                if (response.count >= 0){
                   $("#commence").prop('disabled', false);
                }
              },
              error:function(response) {
                  alert('Disconnected ! Try Again ')
              }
          });

        },1000);
    });
</script>




</html>
