{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Verification Code</title>
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body class="bc-dark">

	<button>click me</button>

	<div class="modal-background w-100 h-100vh flex flex-center z-5 p-abs transit-2">
		<div class="modal-content flex flex-col justify-between bc-dark transit-5">

			<a href="" class="modal-heading basic-link poppins lightPeach ">Enter the code sent at your email</a>

			<form method="post" class="flex flex-col justify-between">
				<div class="flex justify-between">
					<input maxlength="1" required type="text" name="1" class="border-none poppins light">
					<input maxlength="1" required type="text" name="2" class="border-none m-left-1rem poppins light">
					<input maxlength="1" required type="text" name="3" class="border-none m-left-1rem poppins light">
					<input maxlength="1" required type="text" name="4" class="border-none m-left-1rem poppins light">
				</div>
				<button type="submit" class="button poppins transit-1">Verify</button>
			</form>

			<a href="" class="modal-resend basic-link poppins lightPeach transit-1">Resend Code?</a>

			<a class="back-button basic-link lightPeach transit-1">&#8592;</a>

		</div>
	</div>

	<script>
		window.onload = function() {
			//Required data items
			var modal_button = document.querySelectorAll('body>button')[0];
			var modal_background = document.querySelectorAll('.modal-background')[0];
			var modal_content = document.querySelectorAll('.modal-content')[0];

			//Back Button
			var back_button = document.querySelectorAll('.back-button')[0];
			//console.log(modal_background, modal_button, modal_content, back_button);

			modal_button.onclick = function() {
				modal_background.style.display = 'flex';
			}
			back_button.onclick = function() {
				modal_background.style.display = 'none';
			}
		}

	</script>

</body>

</html>
