{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=B612:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <title>Table</title>
  <style media="screen">
    body {
      height: 100vh;
      {#background: url("{% static 'images/Orange.png' %}") no-repeat center center fixed;#}
      background-size: cover;
    }
  </style>
</head>


<div class="container"><h3 style="font-family: 'Titillium Web', sans-serif; font-size: 70px" class="text-capitalize">Poll Title: {{ poll.room.title }} {{ poll.id }}</h3>
<button onclick="window.location.href='/accounts/View-Poll-History/';" style="font-family: 'Muli', sans-serif;" class="center-block">Back to Poll Information</button>
<br><br>
<h1 style="font-family: 'Muli', sans-serif;">This Poll is Hosted {{ count }} times </h1>
<h1 style="font-family: 'Muli', sans-serif;">Total Participants:  {{ part }} </h1>
{#<a href="#footer">Go to bottom</a>#}

<button id="hi" style="font-family: 'Muli', sans-serif;">Click For More Details</button>
<br><br>
<div class="col">
          <h1  style="font-family: 'B612', sans-serif;">Question: {{ poll.text }}</h1>
          <table class="table table-bordered table-hover">
            <thead class="bg-warning">
              <tr>

                  <th scope="col">Choices</th>
                <th scope="col">Choice Text</th>
                 <th scope="col">Votes</th>

              </tr>
            </thead>
            <tbody>
            {% for ch in poll.choice_set.all %}
              <tr>

                <td>Option {{ forloop.counter }}:</td>
                <td style="font-family: 'Muli', sans-serif;">{{ ch.choice_text }} </td>
              <td style="font-family: 'Muli', sans-serif;">{{ ch.get_vote_count }} </td>
              </tr>
                {% endfor %}
{#              <tr>#}
{#                <th scope="row">2</th>#}
{#                <td>Larry</td>#}
{#              </tr>#}
            </tbody>
          </table>
      </div>
{#{% for ch in poll.choice_set.all %}#}
{#<p style="font-family: 'Muli', sans-serif;">Option {{ forloop.counter }}: {{ ch.choice_text }}   {{ ch.get_vote_count }}</p><br>#}
{#{% endfor %}#}
</div>
    <div id="myChart" class="container"></div>
<br><br>
<ul class="pager ">
  <a href="/accounts/PreviousQuestion?id={{ poll.id }}" <button type="button" class="btn btn-primary badge-pill">Previous Question</button></a>
     <a href="/accounts/NextQuestion?id={{ poll.id }}" <button type="button" class="btn btn-primary badge-pill">Next Question</button></a>

</ul>>
<div class="container dropdown">
    <h1 style="font-family: 'Muli', sans-serif;">Get Participant List According to Choice </h1>
  <button style="font-family: 'Muli', sans-serif;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      {% if ch %}
          {{ ch.choice_text }}
          {% else %}
          Select Choice
      {% endif %}

  </button>
  <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
      {% for ch in poll.choice_set.all %}
    <a class="dropdown-item"   value="{{ ch.id }}" href="/accounts/Participant-Answers?choice_id={{ ch.id }}&poll_id={{ poll.id }}">{{ ch.choice_text }}</a>

      {% endfor %}
  </div>
</div>
 <center style="position: relative; left: 0px; bottom: -100px " >
                     <div class="over-auto" id="display" style="width:300px;height:400px;line-height:3em;overflow:scroll;padding:7px;background-color:#FCFADD;color:#714D03;  border:4px double #DEBB07;
                font-size:      20px;
                font-weight:    bold;"> {% for v in vote %}<h4 style="font-family: 'B612', sans-serif;">
                         {% if v %}
                         {{ v.participant.participent }}</h4>
                         {% else %}
                             <h3 style="font-family: 'B612', sans-serif;" >No Participants selected this Choice</h3>
                         {% endif %} {% endfor %}</div><h2 style="font-family: 'Muli', sans-serif;">Participants </h2></center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script>

	var state ={
		'items':[],
		'values':[],
	}

	var objId = "{{ poll.id }}"

	var dataURL = `/accounts/resultsdata/${objId}/`
	$.ajax({
		method:'GET',
		url:dataURL,
		success:function(response){
			console.log('RESPONSE:', response)
			for (var i in response){

				var key = Object.keys(response[i])[0]
				var value = Object.values(response[i])[0]

				state.items.push(key)
				state.values.push(value)
			}

			console.log('STATE:', state)
			buildChart()

		}
	})

	function buildChart(){
			var chartData = {
			"type":"bar3d",
			"scale-x":{
				"values":state.items
			},
                plot: {
        // Animation docs here:
        // https://www.zingchart.com/docs/tutorials/styling/animation#effect
        animation: {
          effect: 'ANIMATION_EXPAND_BOTTOM',
          method: 'ANIMATION_STRONG_EASE_OUT',
          sequence: 'ANIMATION_BY_NODE',
          speed: 1,
        }
      },

                scaleY: {
        // Scale label with unicode character
        {#'min-value':"0",#}
        {#            'max-value':"50",#}
        label: { text: '',
       transform: {
    type: 'date'  ,
    all: '%m/%d/%y  %h:%i %A'
}
        },

      },
			"series":[
				{
					"values":state.values
				}
			]
		}


		zingchart.render({
		  id: "myChart",
		  data: chartData,
		});
	}




</script>
    <script>
        var x = document.getElementById("hi");
        $(document).ready(function() {
             $('#hi').click(function() {
                $("html, body").animate({
                    scrollTop: $(
                      'html, body').get(0).scrollHeight
                }, 2000);
            });
        });
    </script>

{#{% if cmt %}#}
{#<a href="{% url 'seeGraph' cmt.id %}">Click to see Graph</a>#}
{#{% endif %}#}
<br><br><br><br><br><br><br><br>

{#{{ cmt.completed_date }} {{  cmt.code_room }}#}
{##}
{#  <!-- Optional JavaScript -->#}
{#  <!-- jQuery first, then Popper.js, then Bootstrap JS -->#}
{#<div id="bottom"></div>#}
{#</body>#}
<div id="thisChart" class="container"></div>
<script>

	var state1 ={
		'items':[],
		'values':[],
	}

	var objId = "{{ cmt.id }}"

	var dataURL = `/accounts/Get-Record/${objId}/`
	$.ajax({
		method:'GET',
		url:dataURL,
		success:function(response){
			console.log('RESPONSE:', response)
			for (var i in response){

				var key = Object.keys(response[i])[0]
				var value = Object.values(response[i])[0]

				state1.items.push(key);
				state1.values.push(value)
			}

			console.log('STATE:', state1)
			buildChart1()

		}
	})

	function buildChart1(){
			var chartData = {
			"type":"bar3d",
			"scale-x":{
				"values":state1.items
			},
                plot: {
        // Animation docs here:
        // https://www.zingchart.com/docs/tutorials/styling/animation#effect
        animation: {
          effect: 'ANIMATION_EXPAND_BOTTOM',
          method: 'ANIMATION_STRONG_EASE_OUT',
          sequence: 'ANIMATION_BY_NODE',
          speed: 1,
        }
      },

                scaleY: {
        // Scale label with unicode character
        {#'min-value':"0",#}
        {#            'max-value':"50",#}
        label: { text: '{{ cmt.completed_date }}',
       transform: {
    type: 'date'  ,
    all: '%m/%d/%y  %h:%i %A'
}
        },

      },
			"series":[
				{
					"values":state1.values
				}
			]
		}


		zingchart.render({
		  id: "thisChart",
		  data: chartData,
		});
	}
</script>

</html>
